// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
    --webkit-user-select: text;
    user-select: text;
}

.relative {
    position: relative !important;
}

.flex-center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_content_app {
    .menu_top_img {
        margin-bottom: 1.5rem;
        width: 100%;
        height: 200px;
    }
}

.item-sm {
    --color: #424242;
    padding-top: .4rem;
    padding-bottom: .4rem;
    font-weight: bold;
}

.item-sm ion-icon {
    color: #424242;
}

.sub-item {
    --color: #424242;
    --background: #fff;
    padding-left: 12px;
    font-weight: normal !important;
    font-size: smaller;
}

.item-sm.dark {
    --color: #fff;
    --background: #222222;
}

.grid-container-center {
    height: 100% !important;
}

.main-row-center {
    height: 100% !important;
    align-items: center !important;
    justify-content: center !important;
}

.list-no-padding {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}


// ESTILOS MAPA
#mapId {
    height: calc(90% - 44px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 5px 5px 5px #888;
    text-align: center;
}

#mapId::after {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
}

#mapId.swiping::after {
    content: 'Para mover el mapa utiliza dos dedos';
    color: #fff;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 300;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(60, 50, 50, 0.5);
    z-index: 9999;
    pointer-events: none;
}

// Botones Alerta Confirmacion
.alertButtons {
    button.alert-button.cancel_button {
        color: #aaa;
    }

    button.alert-button.confirm_button {
        font-weight: bold;
        color: #187ff5;
    }
}

// Pagina Perfil Usuario
.img-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .item_img {
        width: 150px;
        height: 150px;
        // background:red;
        position: relative;
    }

    .upload_image {
        background: #3880ff;
        border-radius: 50%;
        color: white;
        display: inline-flex;
        font-size: 2rem;
        line-height: 2rem;
        padding: .5rem;
        position: absolute;
        right: 0px;
        bottom: 25px;
        outline: none;
        cursor: pointer;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

// .profile-options {
//     ion-button {
//         margin-top: 1.8rem;
//         margin-bottom: 1.8rem;
//     }
// }

.user_profile_options {
    text-align: center;

    .icon_option {
        font-size: 1.6rem;
        background: #3880ff;
        border-radius: 50%;
        display: inline-flex;
        padding: .6rem;
        color: white;
        cursor: pointer;
    }

    .title_option {
        font-size: .9rem
    }
}

/* PAGINA FORMULARIO REPORTAR EMERGENCIA*/

#emergencyReportMap {
    display: block;
    height: 200px;
    width: 100%;
}

.section-img-thumb {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    justify-content: space-around;
    align-items: center;

    ion-thumbnail {
        --size: 5rem;
    }

    img {
        display: inline-block;
    }
}

// Componente Subida Imagenes

.section-buttons-load-image {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .container_btn_camera,
    .container_btn_gallery {
        height: 5rem;
        width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: .9rem;

        svg {
            fill: currentColor;
        }

        p {
            margin: 0;
            margin-top: 5px;
        }
    }

    .container_btn_camera {
        background: #db4c3f;

        svg.camera {
            height: 30px;
            width: 32px;
        }
    }

    .container_btn_gallery {
        background: #3880ff;

        svg.gallery {
            height: 25px;
            width: 28px;
        }
    }

    .camera-upload-container,
    .gallery-upload-container {
        height: 5rem;
        width: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: .9rem;

        svg {
            fill: currentColor;
        }

        p {
            margin: 0;
            margin-top: 5px;
        }
    }
}

// Pagina Problemas Sociales y Eventos Detail

.detail-card {
    border: none;
    box-shadow: none;

    img {
        max-height: 300px;
    }

    ion-card-header,
    ion-card-content {
        padding-left: 0px;
        padding-right: 0px;
    }
}

// Pagina Problemas Sociales
.likes_item {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    &.active {
        color: #3880ff;
    }

    .counter {
        font-size: 1.1rem;
    }

    ion-icon {
        font-size: 1.6rem;
        margin-right: .5rem;
    }
}


#socialProblemReportMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}

// Pagina Eventos
.container_events {
    color: #616770;
    font-weight: bold;

    ion-icon {
        margin-right: 10px;
        color: currentColor;
    }

    &.active {
        color: #3880ff;
    }

    &.detail {
        --padding-start: 0px;
    }
}

.map-events {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}

// Public Services

#public-services {
    display: block;
    width: 100%;
    height: 100%;
}

// Formularios
.form-errors {
    p {
        // margin-left: 1rem;
        color: #f04141;
        font-size: .8rem;
    }
}

.item-form {
    .input_item {
        display: inline-block;
        width: 90%;
    }

    .feedback-icon {
        display: inline-flex;
        justify-content: center;
        width: 10%;

        ion-item {
            display: inline-block;
            width: 100%;
            --padding-start: 0px;
        }
    }
}

.btn_eye_icon {
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;

    ion-icon {
        font-size: 22px;
        color: #757575;
    }
}

.btn_eye_icon:focus {
    outline: none !important;
}



// Helpers

.card_social, .card-event {
    outline: none;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    .post_user {
        font-weight: bold;
    }
    
    .post_date {
        font-size: .9rem;
    }
    .problem-subtitle, .event-subtitle{
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        padding-bottom: 0px;
        &.detail{
            padding-bottom: 0px;
        }
    }
    .post-description{
        color: #000;
    }
    .full{
        width: 100%;
    }
    .flex-right{
        justify-content: flex-end;
    }
    .post-ubication-address{
        // padding: 12px 0;
        display: flex;
        align-items: center;
        .icon{
            font-size: 1.2rem;
            margin-right: .8rem;
        }
    }
    .post-fulldate{
        // padding: 10px 0;
        display: flex;
        align-items: center;
        .icon{
            font-size: 1.2rem;
            margin-right: .8rem;
        }
    }
    .post-see-more{
        margin-top: 1rem
    }
    .post-num-likes{
        margin-top: 1rem;
    }
    .action-buttons{
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
        &.detail{
            padding: 1rem 0;
        }
    }
    .action-button.pair{
        display: flex;
        justify-content: space-between;
    }
    .action-button.pair div:nth-child(2){
        margin-left: 2rem;
    }
    .icon-share, .icon-like, .icon-more{
        font-size: 1.3rem !important;
    }

    .icon-more{
        transform: rotate(180deg);
        display: inline-block;
    }

    .btn-like{
        &.active{
            color: #ed4956;
        }
    }
    .btn-share{
        color: #1da1f2;
    }

    // .options {
    //     // background:purple;
    //     display: flex;
    //     width: 100%;
    //     justify-content: space-around;
    //     margin-top: .7rem;
    //     margin-bottom: .7rem;

    //     &.detail{
    //         justify-content: flex-start;
    //         width: 100%;
    //         div:nth-child(1){
    //             margin-right: 2rem;
    //         }
    //     }

    //     .option_button {
    //         // background: yellow;
    //         width: 70%;
    //         display: flex;
    //         justify-content: center;

    //     }
       

    //     .option_actions {
    //         // background:green;
    //         display: flex;
    //         justify-content: space-around;
    //         align-items: center;
    //         width: 30%;
           

    //         .btn_icon {
    //             ion-icon {
    //                 font-size: 1.3rem;
    //             }
    //         }

    //         .active {
    //             color: #3880ff;
    //         }
    //     }
    // }
}

.btn {
    // color:white;
    // background:blue;
    outline: none;
    padding: .9rem 2rem;
    border-radius: 25px;
    width: 80%;
    text-transform: uppercase;
}

.primary {
    background: #3880ff;
    color: white;
}

.icon-close {
    font-size: 35px !important;
}

.sm-thumbnail {
    height: 140px;
    width: 140px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-flex {
    flex-direction: column;
}

hr.gray {
    background: #c8c7cc;
}

.mt-2r {
    margin-top: 2rem;
}

.full {
    width: 100%;
}

.event-map-detail {
    display: block;
    width: 100%;
    height: 200px;
}

.container-app{
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px;
}

.map-center {
    margin-left: auto;
    margin-right: auto;
}

.padding-none{
    padding: 0px !important;
}

.swiper-pagination {
    bottom: -4px !important;
}

.icon-help-input {
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    font-size: 18px;

    ion-icon.error {
        color: #f04141
    }

    ion-icon.success {
        color: #10dc60;
    }
}

//Leaflet Override
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background:#2c3e50;
    color:#fff;
}
.leaflet-popup-content{
    text-align: center;
    h1{
        font-size: 18px;
    }
    p{
        font-size: 15px;
    }
}

.leaflet-control-search .search-tip{
    h1{
        font-size: 14px !important;
        margin: auto !important;
        padding: 8px;
    }
}

// Network
.network_avalaible{
    display: flex;
    align-items: center;
    margin-top: .7rem !important;
    margin-bottom: .7rem !important;
    span{
        margin-right: 1rem;
    }
}

// ANIMACION FADEIN

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }


  .animated.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }

  .animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

//   ANIMACION FLASH

  @-webkit-keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0.5;
    }
  }
  
  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0.5;
    }
  }
  
  .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
  }

//   FADE OUT

@-webkit-keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
  
  .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
  }