<app-header title="Preguntas Frecuentes" [showNoti]="false"></app-header>

<ion-content padding>
    <ion-list>
        <div *ngFor="let question of frequentQuestions;let i = index;">
            <ion-item color="primary" (click)="toggleSection(i,true)">
                <ion-label class="ion-text-wrap">
                    {{question.title}}
                    <ion-icon [name]="question.icon"></ion-icon>
                </ion-label>
            </ion-item>
            <ion-item [class.parent-active]="question.open" *ngIf="question.open">
                <ion-label class="ion-text-wrap">
                        {{question.description}}
                </ion-label>
            </ion-item>
        </div>
    </ion-list>
    <!-- <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%;flex-direction: column;">
            <ion-col>
                <h4>Redes Sociales Asociadas  <ion-icon name="help-circle-outline"></ion-icon></h4>
                <p>Las Redes Sociales Asociadas te permiten que puedas iniciar sesión por medio de tu cuenta de Facebook o Google, si deseas desconectar una cuenta social asegurate primero de tener una contraseña activa, caso contrario cambia tu contraseña para que puedas iniciar sesión por medio de un formulario</p>
                <h4>Dispositivos Asociados  <ion-icon name="help-circle-outline"></ion-icon></h4>
                <p>Los dispositivos asociados se registran cuando inicias sesión para permitir que recibas notificaciones en tu celular, si desconectas un dispositivo ya no podrás recibir notificaciones en dicho dispositivo</p>
                <h4>No puedo visualizar algunas opciones en la aplicación <ion-icon name="git-compare"></ion-icon></h4>
                <p>Si observas algún problema con la aplicación, cierra y vuelve a abrir la aplicación o cierra sesión y vuelve a iniciar sesión para comprobar si el problema persiste</p>
            </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>
