<app-header-back title="Emergencia" hrefDefault="/emergencies"></app-header-back>

<ion-content padding>
    <!-- <app-network-banner *ngIf="!appNetworkConnection" networkConnection="appNetworkConnection"></app-network-banner> -->
    <div>
        <ion-card class="detail-card animated flash slow infinite" *ngIf="!emergency">

            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text width="30%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text width="10%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
            </ion-card-content>
            <div>
                <ion-skeleton-text width="100%" style="height: 200px;"></ion-skeleton-text>
            </div>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" detail="false" button="true"
                        class="container_events detail" [ngClass]="{'active': (i % 2) === 0}">
                        <!-- <ion-icon slot="start" name="star" (click)="test()"></ion-icon> -->
                        <ion-skeleton-text width="50%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" detail="false" button="true"
                        class="container_events detail" [ngClass]="{'active': (i % 2) !== 0}">
                        <ion-skeleton-text width="50%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card class="card-event detail-card" *ngIf="emergency">
            <img *ngIf="emergency.images.length === 0" class="image-border"
                src="assets/img/default/slide-1.png" />
            <img *ngIf="emergency.images.length > 0 " class="image-border"
                [src]="getImageURL(emergency.images[0].url)" />
            <ion-card-header>
                <ion-card-subtitle class="event-subtitle">
                    <p class="post-fulldate">
                        <ion-icon class="icon" name="calendar"></ion-icon>
                        <span>{{utilsService.getFullDate(emergency.date, emergency.time) | simpleBeatifulDate}}</span>
                    </p>
                    <p class="post-ubication-address flex-right" *ngIf="emergency.ubication">
                        <ion-icon class="icon" name="navigate"></ion-icon>
                        <span>{{ emergency.ubication.address || 'Direccion no encontrada'}}</span>
                    </p>
                </ion-card-subtitle>
                <ion-card-title>{{ emergency.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p class="post-description"> {{emergency.description | truncate: 50}}</p>
            </ion-card-content>
            <!-- <div>
                <simple-map classMap="event-map-detail map-center" idMap="emergencyMap-detail-{{id}}"
                    [coordsMap]="mapPoints" [zoom]="16">
                </simple-map>
                <p class="post-num-likes">{{emergency.details.length}}
                    {{(emergency.details.length !== 1) ? 'personas asistirán': 'persona asistirá'}}</p>
            </div> -->
            <div class="action-buttons detail">
                <!-- <div class="action-button pair">
                    <div class="btn-like"
                        (click)="toggleAssistance(checkLikePost(event.details))">
                        <ion-icon slot="icon-only" class="icon-like"
                            [name]="(checkLikePost(event.details))?'heart':'heart-empty'"></ion-icon>
                    </div>
                    <div class="btn-share" (click)="sharePost(event)">
                        <ion-icon class="icon-share" slot="icon-only" name="share"></ion-icon>
                    </div>
                </div> -->
                <!-- <div class="action-button">
                    <div class="btn-more">
                        <ion-icon class="icon-more" slot="icon-only" name="more"></ion-icon>
                    </div>
                </div> -->
            </div>
        </ion-card>
    </div>
</ion-content>
