.social_problem_created_at{
    padding: .5em 0;
}
.post_cover{
    background: #dfdfdf;
    height: 150px;
    .img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
.social-problem{
    margin-bottom: 2rem;
    .post-content{
        padding-bottom: 5px;
    }
    .post-title{
        margin-bottom: .7em;
    }
    .post-header{
        padding-bottom: 0;
        padding-top: 0;
    }
    .post-subtitle{
        position:relative;margin-bottom: .7rem;
    }
    .container-more-options{
        position: absolute;top:-5px;right:-5px;font-size: 25px;
    }
    .post-cover-image{
        width: 100%;
        position: relative;
        height: 150px;
        .img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .post-description{
        &:after {
            content: "...";
        }
    }
    .post-see-more{
        padding-bottom: .5rem;
    }
}

ion-card{
    margin-bottom: 2em;
}

.img-avatar{
    width: 50px;
    height:50px;
    border-radius:50% !important;
    overflow: hidden;
}