<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Información</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeMapInfoModa()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="ion-text-center">
  <h1>{{mapPoint.name || 'Titulo'}}</h1>
  <p>{{mapPoint.description || 'Descripcion'}}</p>
  <p *ngIf="distancia">A {{ distancia }} Km de tu ubicación actual</p>
  <p *ngIf="!distancia">No se pudo obtener la distancia</p>
</ion-content>
