
<ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center">Rechazar Atención Emergencia</ion-title>
      <ion-buttons slot="end" class="buttons-end">
        <ion-icon name="close" slot="icon-only" (click)="onClose()">          
        </ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="section-header">
      <p>{{userName}} explica el mótivo por el cual no puedes atender la emergencia</p>
    </div>
    <form [formGroup]="attendEmergencyForm">
      <ion-item class="input_item" lines="none">
        <ion-label class="label-padding label-margin" position="stacked">Mótivo *</ion-label>
        <div class="container-textarea">   
          <ion-textarea formControlName="reason" rows="5" autocomplete="on" autosize (keydown.enter)="preventEnterPressed($event)"
            type="text" clearOnEdit="false"></ion-textarea >
        </div>
      </ion-item>
      <div class="form-errors padding-lateral">
        <p class="form-error"
            *ngIf="attendEmergencyForm.get('reason').hasError('required') && attendEmergencyForm.get('reason').touched">
            El mótivo es requerido
        </p>
        <p class="form-error"
        *ngIf="attendEmergencyForm.get('reason').hasError('maxlength') && attendEmergencyForm.get('reason').touched">
        El mótivo debe tener máximo 300 carácteres
    </div>
      <div class="item-info info-padding">
        <p>
           Solo puedes ingresar máximo 300 caracteres
        </p>
    </div>     
      <div class="ion-padding">
        <ion-button color="primary" type="submit" expand="block" [disabled]="!attendEmergencyForm.valid || formWasSended" class="ion-text-capitalize" (click)="onSubmit()">
          Enviar
        </ion-button>
      </div>
    </form>
  </ion-content>
