
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start" class="buttons-start">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" class="buttons-end">
        <ion-icon name="share" slot="icon-only"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="section-header">
      <h2>Formulario Rechazar Atención Emergencia</h2>
      <p>Nos gustaría saber la razón por la cual has escogido rechazar atender la emergencia</p>
    </div>
    <form>
      <p>Lola</p>
    </form>
  </ion-content>
