.report-detail {
  &__main {
    margin-bottom: 2rem;
    // &__title {
    // }
  }
  &__content {
    margin-bottom: 2rem;
    // &__title {
    // }
    // &__description {
    // }
  }
  &__map {
    margin-bottom: 2rem;
    // &__title {}
    // &__content {}
  }
//   &__images {
//      &__title {}
//   }
//   &_attached{}
}

.section-title {
  font-weight: bold;
}

.item_document{
  img{
    width: 40px;
  }
}