<app-header-back title="Directorio Barrial"></app-header-back>
<ion-content padding>
    <ion-list *ngIf="boardMembers.length === 0 || boardMembers === null">
        <ion-item lines="none" *ngFor="let skeleton of [1,1,1,1,1,1,1,1]" class="animated flash slow infinite">
            <ion-thumbnail slot="start">
                <ion-skeleton-text class="circle"></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label class="profile_item ion-text-center">
                <h2 class="title">
                    <ion-skeleton-text width="100%"></ion-skeleton-text>
                </h2>
                <h5 class="subtitle">
                    <ion-skeleton-text width="100%"></ion-skeleton-text>
                </h5>
                <p class="phone">
                    <ion-skeleton-text width="100%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="boardMembers.length > 0">
        <ion-item lines="none" *ngFor="let people of boardMembers">
            <ion-thumbnail slot="start">
                <img class="circle" [src]="people.avatar || '/assets/img/default/img_avatar.png'">
                <!-- <ion-img class="circle" [src]="people.avatar || '/assets/img/default/img_avatar.png'"></ion-img> -->
            </ion-thumbnail>
            <ion-label class="profile_item ion-text-center">
                <h2 class="title">
                    <span class="profile_detail">{{people.name}}</span>
                </h2>
                <h5 class="subtitle">
                    <span class="profile_detail">{{people.position}}</span>
                </h5>
                <p class="phone">
                    <ion-icon name="call"></ion-icon>
                    <span class="profile_detail">{{people.phone}}</span>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>