.circle{
    border-radius: 50%;
}
.profile_item{
    .title{
        margin-bottom: 8px;
    }
    .subtitle{
        margin-bottom: 5px;
    }
}
.profile_detail{
    margin-left: .45rem;
}
.icon-directive{
    width: 70px;
    height: 70px;
}
.thumbnail-container{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
