<app-header-back title="Servicio" defaulHref="public-services" [showNoti]="false"></app-header-back>

<ion-content class="ion-padding">
    <!-- Loader mientras cargan datos -->
    <div class="loading-app" *ngIf="!publicServiceLoaded">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    <!-- Datos ya cargados -->
    <div *ngIf="publicServiceDetail">
        <h1 class="ion-text">{{publicServiceDetail.name}}</h1>
        <p class="ion-text">{{publicServiceDetail.description}}</p>
        <div>
            <p style="display:block;font-weight: bold;">Dirección:</p>
            <p>{{(publicServiceDetail.ubication && publicServiceDetail.ubication.address) ? publicServiceDetail.ubication.address: 'No existe una dirección registrada'}}
            </p>
        </div>
        <div *ngIf="publicServiceDetail.distance">
            <p style="display:block;font-weight: bold;">Distancia:</p>
            <p>El destino se encuentra a {{publicServiceDetail.distance}} km desde tu ubicación
                actual</p>
        </div>
        <!-- Loader mientras carga el mapa -->
        <div class="loading-app" *ngIf="!mapLoaded">
            <loader-app class="flex-column-center"></loader-app>
        </div>
        <simple-routing-map [zoom]="11" className="public-service-map"
            id="public-service-map-detail-{{id}}"
            [destinationCoords]="publicServiceDetail.ubication" [usePolyline]="true"
            (mapEvent)="manageMapEvent($event)" [enableGesture]="true"></simple-routing-map>
    </div>
</ion-content>
