ion-slide.tutorial_slide {
    display: flex;
    position: relative;
    align-items: center;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-align: center;
}

.slides-home {
    display: flex;
    position: relative;
}


.slide-content {
    // background-color: pink;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: white;
}

// img {
//     width: 140px;
//     height: 160px;
// }

.slide-icon {
    display: none;
    position: fixed;
    top: 20px;
    left: 45%;
    z-index: 2;
    .item-icon {
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 5px;
        background: white;

        .item-img {
            height: 60px;
            width: 50px;
        }
    }
}



ion-slides {
    --bullet-background: #CED1DF;
    --bullet-background-active: #8890B2;
    position: relative;
    height: 100%;
}

.footer-container {
    position: fixed;
    // background:lime;color:white;
    bottom: 1em;
    width: 100%;
    display: flex;
    z-index: 1000;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 1.6em;
    padding-right: 1.6em;
}

.btn-action-container {
    margin: 9px 0;
}

.footer-row {
    width: 100%;

    .footer-col {
        width: 50%;
        display: flex;
        justify-content: center;

        &.center {
            background-color: red;
        }
    }
}

.flex {
    display: flex;
}

.center-flex {
    justify-content: center;
}

.moveToHome {
    color: white;
}