<!-- <div class="screen-container"> -->
<!-- <app-header title="Tutorial" [showNoti]="false"></app-header> -->
<ion-content>
    <ion-slides pager="false" class="slides-home" (ionSlidesDidLoad)="slidesLoaded($event)"
        (ionSlideDidChange)="slideChange($event)">
        <ion-slide class="tutorial_slide" *ngFor="let slide of slides"
            [ngStyle]="{'background':  getBackgroundApp(slide.img)}">
            <div class="slide-content">
                <!-- <img [src]="slide.img" class="slide-img"> -->
                <h1>{{slide.title}}</h1>
                <p>{{slide.description}}</p>
            </div>
        </ion-slide>
    </ion-slides>
    <div class="slide-icon">
        <div class="item-icon">
            <img class="item-img" src="assets/img/svg/sanIsidroIconTransparent.svg" alt="Logo" />
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-row">
            <div class="btn-action-container">
                <ion-button class="ion-text-capitalize" color="light" expand="block" (click)="goToLogin()">
                    Iniciar Sesión
                </ion-button>
            </div>
            <div class="btn-action-container">
                <ion-button class="ion-text-capitalize" color="light" expand="block" fill="outline"
                    (click)="goToRegister()">
                    Registrarme
                </ion-button>
            </div>
            <div class="btn-action-container">
                <ion-button class="ion-text-capitalize" color="light" expand="block" fill="outline"
                    (click)="goToHome()">
                    Omitir Inicio Sesión
                </ion-button>
            </div>
        </div>
        <!-- <div class="footer-row flex"> -->
        <!-- <div class="footer-col">
                    <div>
                        <ion-button class="ion-text-capitalize" color="light" expand="block" (click)="goToLogin()">
                            Iniciar Sesión
                        </ion-button>
                    </div>
                </div> -->
        <!-- <div class="footer-col"> -->
        <!-- <div>
                        <ion-button class="ion-text-capitalize" color="light" fill="outline" expand="block"
                            (click)="goToHome()">
                            Ir al Inicio
                        </ion-button> -->
        <!-- <ion-button class="ion-text-capitalize" color="light" fill="outline" expand="block"
                            (click)="goToRegister()">
                            Registrarme
                        </ion-button> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="footer-row flex center-flex">
                <div class="footer-col">
                    <a (click)="goToHome()" class="moveToHome">Ir al Inicio</a>
                    <ion-button class="ion-text-capitalize" color="medium" fill="outline" expand="block"
                        (click)="goToRegister()">
                        Ir al Inicio
                    </ion-button>
                </div>
    
            </!-->
    </div>
</ion-content>