<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Cambiar Imagen</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid *ngIf="profileUserImg.length > 0">
        <ion-row class="ion-justify-content-center">
            <ion-col size="6" *ngFor="let image of profileUserImg; let i = index;">
                <div class="item-container" (click)="seeImageDetail(image)">
                        <div class="user-avatar-container">
                            <img  class="user-avatar" [src]="image | imageSanitizer"/>
                        </div>
                    <div class="container_image_actions">
                        <ion-button size="small" color="danger" expand="full" (click)="deleteImage(i)">
                            <ion-icon name="trash"></ion-icon>
                        </ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <section class="section-uplodad-image">
        <app-upload-image [uploadedImages]="profileUserImg" [maxImages]="1"
            (returnUploadedImages)="getUploadedImages($event)"></app-upload-image>
    </section>
    <ion-button class="btn_send_request_membership" expand="block" (click)="sendRequestChangeUserProfile()"
        [disabled]="profileUserImg.length === 0 || sending">
        <span>Enviar</span>  
    </ion-button>
</ion-content>