<app-header-back title="Servicio" [backUrl]="backUrl" [showNoti]="false"></app-header-back>

<ion-content class="ion-padding">
    <!-- Mensaje si no esta el gps activado -->
    <ng-container *ngIf="!showSimpleMap">
        <app-localization-info gpsTextInfo="Por favor activa el GPS para poder visualizar correctamente el mapa">
        </app-localization-info>
    </ng-container>
    <!-- Loader mientras cargan datos -->
    <div class="loading-app" *ngIf="!publicServiceLoaded">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    <!-- Datos ya cargados -->
    <div *ngIf="publicServiceDetail">
        <h1 class="ion-text">{{publicServiceDetail.name}}</h1>
        <p class="ion-text">{{publicServiceDetail.description}}</p>
        <div>
            <p style="display:block;font-weight: bold;">Dirección:</p>
            <p>{{(publicServiceDetail.ubication && publicServiceDetail.ubication.address) ? publicServiceDetail.ubication.address: 'No existe una dirección registrada'}}
            </p>
        </div>
        <div>
            <p style="display:block;font-weight: bold;">Correo de Contacto:</p>
            <p>{{(publicServiceDetail.email) ? publicServiceDetail.email: 'Ningún correo registrado'}}
            </p>
        </div>
        <div>
            <p style="display:block;font-weight: bold;">Horario Atención:</p>
            <p
                *ngIf="publicServiceDetail.public_opening && publicServiceDetail.public_opening.open_time && publicServiceDetail.public_opening.close_time; else sinHorarioAtencion">
                {{  publicServiceDetail.public_opening.open_time }} -
                {{ publicServiceDetail.public_opening.close_time }}
            </p>
            <ng-template #sinHorarioAtencion>
                <p>No disponible</p>
            </ng-template>
        </div>
        <div *ngIf="currentPosition">
            <p style="display:block;font-weight: bold;">Distancia:</p>
            <p>El destino se encuentra a
                {{currentPosition.latitude | publicServiceDistancePipe: currentPosition.longitude: publicServiceDetail.ubication.latitude: publicServiceDetail.ubication.longitude }}
                km desde tu ubicación
                actual</p>
        </div>

        <p style="display:block;font-weight: bold;">Ubicación:</p>
        <simple-routing-map [zoom]="11" className="public-service-map" [simpleMap]="showSimpleMap"
            [targetUbicacionIcon]="(publicServiceDetail.subcategory && publicServiceDetail.subcategory.icon_link)?publicServiceDetail.subcategory.icon_link: null"
            id="public-service-map-detail-{{id}}" [destinationCoords]="publicServiceDetail.ubication"
            [usePolyline]="false" (mapEvent)="manageMapEvent($event)" [enableGesture]="true"
            [currentCoordinate]="currentPosition"></simple-routing-map>
        <p style="display:block;font-weight: bold;">Ubicación Referencia:</p>
        <p *ngIf="publicServiceDetail.ubication">{{publicServiceDetail.ubication.description}}</p>
    </div>
</ion-content>