<app-header-back title="Servicio" [backUrl]="backUrl" [showNoti]="false"></app-header-back>

<ion-content class="ion-padding">
     <!-- Mensaje si no esta el gps activado -->
     <ng-container *ngIf="!showSimpleMap">
         <app-localization-info gpsTextInfo="Por favor activa el GPS para poder visualizar correctamente el mapa"></app-localization-info>
     </ng-container>
    <!-- Loader mientras cargan datos -->
    <div class="loading-app" *ngIf="!publicServiceLoaded">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    <!-- Datos ya cargados -->
    <div *ngIf="publicServiceDetail">
        <h1 class="ion-text">{{publicServiceDetail.name}}</h1>
        <p class="ion-text">{{publicServiceDetail.description}}</p>
        <div>
            <p style="display:block;font-weight: bold;">Dirección:</p>
            <p>{{(publicServiceDetail.ubication && publicServiceDetail.ubication.address) ? publicServiceDetail.ubication.address: 'No existe una dirección registrada'}}
            </p>
        </div>
        <!-- <div *ngIf="publicServiceDetail.distance">
            <p style="display:block;font-weight: bold;">Distancia:</p>
            <p>El destino se encuentra a {{publicServiceDetail.distance}} km desde tu ubicación
                actual</p>
        </div> -->
        <div *ngIf="publicServiceDistance">
            <p style="display:block;font-weight: bold;">Distancia:</p>
            <p>El destino se encuentra a {{publicServiceDistance}} km desde tu ubicación
                actual</p>
        </div>

        <simple-routing-map [zoom]="11" className="public-service-map" [simpleMap]="showSimpleMap"
            [targetUbicacionIcon]="(publicServiceDetail.category && publicServiceDetail.category.image)?publicServiceDetail.category.image: null"
            id="public-service-map-detail-{{id}}"
            [destinationCoords]="publicServiceDetail.ubication" [usePolyline]="false"
            (mapEvent)="manageMapEvent($event)" [enableGesture]="true" [currentCoordinate]="currentPosition"></simple-routing-map>
    </div>
</ion-content>
