<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Cambiar mi Contraseña</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <form [formGroup]="changePassForm">
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding" position="stacked">Contraseña</ion-label>
                    <ion-input class="input-beatiful" #passwordEyeChangePass formControlName="password" [type]="passwordTypeInput" placeholder="********" clearOnEdit="false"></ion-input>
                    <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                        <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                    </button>
                </ion-item>
                <!-- <div class="feedback-icon">
                    <ion-item lines="none">
                        <button class="icon-help-input" disabled>
                            <ion-icon name="close-circle" class="error"
                                *ngIf="changePassForm.get('password').touched && changePassForm.get('password').invalid">
                            </ion-icon>
                            <ion-icon name="checkmark-circle" class="success"
                                *ngIf="changePassForm.get('password').touched && changePassForm.get('password').valid">
                            </ion-icon>
                        </button>
                    </ion-item>
                </div> -->
            </div>
            <div class="form-errors">
                    <p class="form-error"
                        *ngIf="changePassForm.get('password').hasError('required') && changePassForm.get('password').touched">
                        {{errorMessages.password.required.message}}
                    </p>
                </div>
            <div class="item-form">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding" position="stacked">Confirma tu Contraseña</ion-label>
                    <ion-input class="input-beatiful" #passwordConfirmEyeChangePass formControlName="password_confirm" [type]="passwordConfirmTypeInput" placeholder="********" clearOnEdit="false"></ion-input>
                    <button item-end class="btn_eye_icon" (click)="togglePasswordConfirmMode()">
                        <ion-icon [name]="(passwordConfirmTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                    </button>
                </ion-item>
                <div class="feedback-icon">
                    <ion-item lines="none">
                        <button class="icon-help-input" disabled>
                            <ion-icon name="close-circle" class="error"
                                *ngIf="changePassForm.get('password_confirm').touched && changePassForm.get('password_confirm').invalid">
                            </ion-icon>
                            <ion-icon name="checkmark-circle" class="success"
                                *ngIf="changePassForm.get('password_confirm').touched && changePassForm.get('password_confirm').valid">
                            </ion-icon>
                        </button>
                    </ion-item>
                </div>
            </div>
            <div class="form-errors">
                <p class="form-error"
                    *ngIf="changePassForm.get('password_confirm').hasError('required') && changePassForm.get('password_confirm').touched">
                    {{errorMessages.password_confirm.required.message}}
                </p>
                <p class="form-error"
                    *ngIf="changePassForm.get('password_confirm').hasError('mustMatch') && changePassForm.get('password_confirm').touched">
                    {{errorMessages.password_confirm.mustMatch.message}}
                </p>
            </div>
            <ion-button class="btn_change_pass" expand="block" (click)="sendRequestChangePass()" [disabled]="!changePassForm.valid">Guardar</ion-button>
        </form>
    </div>
</ion-content>