<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Cambiar mi Contraseña</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <form>
            
              <ion-item>
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input value="" [type]="passwordTypeInput"></ion-input>
                <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                    <ion-icon [name]="iconpassword"></ion-icon>
                </button>
              </ion-item>
              <div class="form-errors">
                <p class="form-error">
                  Error Message 1
                </p>
             </div>
              <ion-item>
                <ion-label position="floating">Confirma tu Contraseña</ion-label>
                <ion-input value="" [type]="passwordConfirmTypeInput"></ion-input>
                <button item-end class="btn_eye_icon" (click)="toggleConfirmPasswordMode()">
                    <ion-icon [name]="iconConfirmpassword"></ion-icon>
                </button>
              </ion-item>
              <div class="form-errors">
                <p class="form-error">
                  Error Message 1
                </p>
             </div>
              <ion-button expand="block">Guardar</ion-button>
        </form>
    </div>
</ion-content>
