<ion-header>
    <ion-toolbar color="blue-logo">
        <ion-buttons menu-id="menu_principal_app" slot="start" *ngIf="showBackButton">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{title}}</ion-title>
        <ng-container *appHasRole="['morador', 'policia', 'invitado']">
            <ion-buttons slot="end" *ngIf="showNoti">
                <ion-button size="large" slot="icon-only" (click)="showNotifications($event)">
                    <ion-icon class="icon_noti" [name]="notificationsIcon"></ion-icon>
                </ion-button>
              </ion-buttons>
        </ng-container>
    </ion-toolbar>
</ion-header>