<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons menu-id="menu_principal_app" slot="start" *ngIf="showBackButton">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title (click)="testiconNoti()" class="ion-text-center">{{title}}</ion-title>
        <ion-buttons slot="end" *ngIf="showNoti">
            <ion-button size="large" slot="icon-only" (click)="showNotiPopover($event)">
                <ion-icon class="icon_noti" [name]="notificationsIcon"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>