<app-header title="Problemas Sociales"></app-header>

<ion-content>
     <ion-card *ngFor="let socialProblem of socialProblemsList; let i = index;">
        <ion-card-header>
            <ion-card-subtitle>{{socialProblem.category_id}} | {{socialProblem.date}} | {{socialProblem.user_id}}</ion-card-subtitle>
            <ion-card-title (click)="postDetail(socialProblem.id)">{{socialProblem.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content> {{socialProblem.description}} </ion-card-content>
        <ion-row>
            <ion-col>
                <ion-item button="true" lines="none" class="container_likes" [ngClass]="{'active': socialProblem.user_id === currentUser.id}">  
                    <ion-icon slot="start" name="thumbs-up"></ion-icon>
                    <div>{{socialProblem.likes}} Likes</div>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>