<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Cambiar mi Contraseña</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <form [formGroup]="changePassForm">
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding label-margin" position="stacked">Contraseña</ion-label>
                    <div class="input-container">
                        <ion-input class="input-beatiful" #passwordEyeChangePass formControlName="password" (keydown.enter)="preventEnterPressed($event)"
                            [type]="passwordTypeInput" placeholder="********" clearOnEdit="false"></ion-input>
                        <button item-end class="btn_eye_icon form-two" (click)="togglePasswordMode()">
                            <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                        </button>
                    </div>
                </ion-item>
            </div>
            <div class="form-errors padding-lateral-small">
                <p class="form-error"
                    *ngIf="changePassForm.get('password').hasError('required') && changePassForm.get('password').touched">
                    {{errorMessages.password.required.message}}
                </p>
            </div>
            <div class="item-info">
                <p>
                    Las contraseñas ingresadas deben ser iguales.
                </p>
            </div>
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding label-margin" position="stacked">Confirma tu Contraseña</ion-label>
                    <div class="input-container">
                        <ion-input class="input-beatiful" #passwordConfirmEyeChangePass
                            formControlName="password_confirm" [type]="passwordConfirmTypeInput" placeholder="********" (keydown.enter)="preventEnterPressed($event)"
                            clearOnEdit="false"></ion-input>
                        <button item-end class="btn_eye_icon form-two" (click)="togglePasswordConfirmMode()">
                            <ion-icon [name]="(passwordConfirmTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                        </button>
                    </div>
                </ion-item>
            </div>
            <div class="form-errors padding-lateral-small">
                <p class="form-error"
                    *ngIf="changePassForm.get('password_confirm').hasError('required') && changePassForm.get('password_confirm').touched">
                    {{errorMessages.password_confirm.required.message}}
                </p>
                <p class="form-error"
                    *ngIf="changePassForm.get('password_confirm').hasError('mustMatch') && changePassForm.get('password_confirm').touched">
                    {{errorMessages.password_confirm.mustMatch.message}}
                </p>
            </div>
            <ion-button class="btn_change_pass" expand="block" (click)="sendRequestChangePass()"
                [disabled]="!changePassForm.valid || sending">Guardar</ion-button>
        </form>
    </div>
</ion-content>