// Notifications
.title_list{
    font-weight: bold;
    text-align: center;
}
.title_list_app{
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
}
.notifications_description{
    .title{
        text-transform: capitalize;
    }
    .author{
        color: #28a745!important;
    }
}
.icon-noti-readed{
    // content: "";
    background: #f95353;
    // position: absolute;
    height: 10px;
    width: 10px;
    display: block;
    // bottom: -39%;
    // right: 35%;
    border-radius: 50%;
    &.active{
        background: #8BC34A;
    }
}