<!-- <div class="header-list">
    <h2 class="title_list_app">Notificaciones</h2>
</div> -->
<div class="loading-app" *ngIf="!requestFinished">
    <loader-app class="flex-column-center"></loader-app>
</div>
<ion-list class="list-notifications">
    <ng-container *ngIf="requestFinished && notificationsRequested && notificationsRequested.length > 0">
        <ion-item [lines]="getLinesState(i)" *ngFor="let noti of notificationsRequested; let i = index;"
            (click)="manageNoti(noti)">
            <ion-avatar class="notification-avatar" slot="start" *ngIf="noti.data && noti.data.notification_user">
                <img [src]="noti.data.notification_user.avatar_link" fallimg="user_avatar">
            </ion-avatar>
            <ion-label class="notifications_description">
                <!-- <h2 class="title">
                    {{(noti.data && noti.data.title) ? noti.data.title:  'sin title'}}
                </h2> -->
                <h3 class="author" *ngIf="noti.data.notification_user">
                    {{ noti.data.notification_user.first_name}} {{noti.data.notification_user.last_name}}
                </h3>
                <p class="description ion-text-wrap">
                    {{ (noti.data.message) ? noti.data.message : 'sin message'}}
                </p>
                <p class="date ion-text-wrap">
                    <ion-icon class="icon" name="time"></ion-icon> 
                    <span>{{noti.created_at | moment_pipe: 'fromNow'}}</span>
                </p>
            </ion-label>
            <div slot="end">
                <span class="icon-noti-readed" [class.active]="(noti.read_at != null)"></span>
            </div>
        </ion-item>
    </ng-container>
</ion-list>
<div *ngIf="requestFinished && notificationsRequested && notificationsRequested.length === 0">
    <p class="ion-text-wrap ion-text-center">
        No existen notificaciones disponibles
    </p>
</div>