<app-header-back title="Problemas Sociales"></app-header-back>
<ion-content padding style="position: relative;">
    <p style="position: fixed;top: 3rem;left: 40%;background: black;color: white; padding: 1rem;z-index: 1000;">
        Num Problemas Sociales {{socialProblemsList.length}}
    </p>
    <!-- Mensaje no cargaron los datos desde la Api -->
    <div class="flex-column-center message-fail-load"
        *ngIf="socialProblemsLoaded && socialProblemsList.length === 0">
        <p>No se pudieron cargar los problemas sociales reportados</p>
        <ion-button (click)="loadSocialProblems(null,true)">Toca para reintentar</ion-button>
    </div>
    <!-- Animacion Tarjeta hasta tener los Datos Cargados -->
    <div *ngIf="!socialProblemsLoaded">
        <ion-card *ngFor="let items of [1,1,1,1]" class="card_social animated flash slow infinite">
            <ion-card-header>
                <ion-card-title>
                    <ion-skeleton-text width="40%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle class="post_user">
                    <ion-skeleton-text width="40%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-subtitle>
                    <ion-skeleton-text width="50%"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="post_description">
                <p class="post_content">
                    <ion-skeleton-text width="70%"></ion-skeleton-text>
                    <ion-skeleton-text width="70%"></ion-skeleton-text>
                </p>
                <p>
                    <ion-skeleton-text width="20%"></ion-skeleton-text>
                </p>
            </ion-card-content>
            <div class="options">
                <div class="option_button">
                    <button class="btn primary">
                        <ion-skeleton-text width="70%"></ion-skeleton-text>
                        <ion-ripple-effect></ion-ripple-effect>
                    </button>
                </div>
                <div class="option_actions">
                    <div class="btn_icon" style="width: 50%;height: 30px;">
                        <ion-skeleton-text width="55%"></ion-skeleton-text>
                    </div>
                    <div class="btn_icon" style="width: 50%;height: 30px;">
                        <ion-skeleton-text width="55%"></ion-skeleton-text>
                    </div>
                </div>
            </div>
        </ion-card>
    </div>
    <!-- Tarjeta con Datos Cargados -->
    <div *ngIf="socialProblemsLoaded  && socialProblemsList.length > 0">
        <ion-card class="social-problem" *ngFor="let socialProblem of socialProblemsFilter" (click)="postDetail(socialProblem.id)">
            <!--<div class="post-cover-image"
                *ngIf="socialProblem.images && socialProblem.images.length > 0">
                <img [src]="socialProblem.images[0].url" alt="Imagen Tarjeta" class="img" />
            </div>-->
            <ion-card-header class="post-header">
                <!--<ion-card-subtitle class="post-subtitle">
                    <span>{{socialProblem.subcategory.name}}</span>
                    <div class="container-more-options" (click)="showActionCtrl(socialProblem)">
                        <ion-icon name="md-more"></ion-icon>
                    </div>
                </ion-card-subtitle>-->
                <ion-card-title class="post-title"> {{socialProblem.title}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="post-content">
                <p class="post-description">
                    {{socialProblem.description}}
                </p>
            </ion-card-content>
            <div class="social">
                <div class="social-content">
                    <!--{{ (socialProblem.postLiked) ? 'A ti y 5 personas más les gusta': 'A 5 personas les gusta'}}-->
                     <span *ngIf="socialProblem.postLiked">A ti y {{socialProblem.details.length}} persona(s) más les gusta</span>
                    <span *ngIf="!socialProblem.postLiked">
                                A {{socialProblem.details.length}} 
                                {{(socialProblem.details.length === 1) ? 'persona le gusta' : 'personas les gusta'}}
                    </span>
                </div>
                <div class="social-options" (click)="toggleLike(socialProblem.postLiked, socialProblem.id)">
                    <div class="social-button" [class.active]="socialProblem.postLiked">
                        <ion-icon class="like" name="heart"></ion-icon>
                        <span>Me gusta</span>
                    </div>
                    <div class="social-button" (click)="sharePost(socialProblem)">
                        <ion-icon class="share" name="share"></ion-icon>
                        <span>Compartir</span>
                    </div>
                </div>
            </div>
        </ion-card>
    </div>
    <!--Opciones del FabButton -->
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button color="primary" size="small">
            <ion-icon name="ios-keypad"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="secondary" (click)="showModalSearchSocialProblems()">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button color="danger" (click)="showModalFilterSocialProblems()">
                <ion-icon name="options"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end" *appHasRole="['morador']">
            <ion-fab-button color="tertiary" (click)="reportSocialProblem()">
                <ion-icon name="send"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <!-- Scroll Infinito -->
    <ion-infinite-scroll threshold="150px" (ionInfinite)="getInfiniteScrollData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent"
            loadingText="Cargando Publicaciones...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
