<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Solicitar Afiliación</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <h5 class="info-dialog">Para solicitar la afiliación debes adjuntar una imágen de algún servicio básico que nos permita verificar tus datos</h5>
    </div>

    <form [formGroup]="requestMembershipForm">
        <div class="item-form full">
            <ion-item class="input_item" lines="none">
                <ion-label class="label-padding label-margin" position="stacked">Nombres</ion-label>
                <div class="input-general-container">     
                    <ion-input class="input-beatiful input-general" (keydown.enter)="preventEnterPressed($event)"
                        formControlName="nombres" type="text">
                    </ion-input>
                </div>
            </ion-item>
        </div>
        <div class="form-errors padding-lateral-small">
            <p class="form-error"
                *ngIf="requestMembershipForm.get('nombres').hasError('required') && requestMembershipForm.get('nombres').touched">
               Los nombres son requeridos
            </p>
        </div>
        <div class="item-form full">
            <ion-item class="input_item" lines="none">
                <ion-label class="label-padding label-margin" position="stacked">Teléfono
                </ion-label>
                <div class="input-general-container">     
                    <ion-input class="input-beatiful input-general" (keydown.enter)="preventEnterPressed($event)"
                        formControlName="telefono" type="phone">
                    </ion-input>
                </div>
            </ion-item>
        </div>
        <div class="form-errors padding-lateral-small">
            <p class="form-error"
                *ngIf="requestMembershipForm.get('telefono').hasError('required') && requestMembershipForm.get('telefono').touched">
               El télefono es requerido
            </p>
        </div>
        <div class="form-errors padding-lateral-small">
            <p class="form-error"
                *ngIf="requestMembershipForm.get('telefono').hasError('minlength') && requestMembershipForm.get('telefono').touched">
               El télefono debe contener minimo 7 caracteres
            </p>
            <p class="form-error"
                *ngIf="requestMembershipForm.get('telefono').hasError('maxlength') && requestMembershipForm.get('telefono').touched">
                El télefono debe contener máximo 10 caracteres
            </p>
        </div>
       
        <div class="item-form full">
            <ion-item class="input_item" lines="none">
                <ion-label class="label-padding label-margin" position="stacked">Nº Cédula
                </ion-label>
                <div class="input-general-container">     
                    <ion-input class="input-beatiful input-general" (keydown.enter)="preventEnterPressed($event)"
                        formControlName="cedula" type="text">
                    </ion-input>
                </div>
            </ion-item>
        </div>
        <div class="form-errors padding-lateral-small">
            <p class="form-error"
                *ngIf="requestMembershipForm.get('cedula').hasError('requied') && requestMembershipForm.get('cedula').touched">
                La cédula es requerida
            </p>
            <p class="form-error"
                *ngIf="requestMembershipForm.get('cedula').hasError('cedulaValida') && requestMembershipForm.get('cedula').touched">
                La cédula no es válida
            </p>
        </div>
    </form>

    <p class="item-info-header">Imagen *</p>
    <ion-grid *ngIf="publicServiceImg.length > 0">
        <ion-row class="ion-justify-content-center">
            <ion-col size="6" *ngFor="let image of publicServiceImg; let i = index;">
                    <div class="item-container">
                        <ion-card>
                            <img  class="basic-service-img" [src]="image | imageSanitizer"/>
                        </ion-card>
                        <div class="container_image_actions">
                            <ion-button size="small" color="danger" expand="full" (click)="deleteImage(i)">
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>
                        </div>
                    </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <app-upload-image [uploadedImages]="publicServiceImg" [maxImages]="1"
        (returnUploadedImages)="getUploadedImages($event)"></app-upload-image>
    <ion-button class="btn_send_request_membership" expand="block" (click)="sendRequestMembership()"
        [disabled]="publicServiceImg.length === 0 || formSended || !requestMembershipForm.valid">
        Enviar
    </ion-button>
</ion-content>