<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Solicitar Afiliación</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
        <h5 class="info-dialog">Para solicitar la afiliación debes adjuntar una imágen de algún servicio básico que nos permita verificar tus datos</h5>
    </div>
    <p class="item-info-header">Imagen *</p>
    <ion-grid *ngIf="publicServiceImg.length > 0">
        <ion-row class="ion-justify-content-center">
            <ion-col size="6" *ngFor="let image of publicServiceImg; let i = index;">
                    <div class="item-container">
                        <ion-card>
                            <img  class="basic-service-img" [src]="image | imageSanitizer">
                        </ion-card>
                        <div class="container_image_actions">
                            <ion-button size="small" color="danger" expand="full" (click)="deleteImage(i)">
                                <ion-icon name="trash"></ion-icon>
                            </ion-button>
                        </div>
                    </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-upload-image [uploadedImages]="publicServiceImg" [maxImages]="1"
        (returnUploadedImages)="getUploadedImages($event)"></app-upload-image>
    <ion-button class="btn_send_request_membership" expand="block" (click)="sendRequestMembership()"
        [disabled]="publicServiceImg.length === 0 || formSended">
        Enviar
    </ion-button>
</ion-content>