.btn_send_request_membership{
    margin-top: 2rem;
}

.info-dialog{
    font-size: .9rem;
    font-weight: lighter;
    text-align: center;
}

.item-info-header{
    padding: 5px 16px 0;
    font-size: .8rem;
}