<app-header title="Mi Perfil"></app-header>

<ion-content>
    <!-- <p>Mi Perfil</p> -->
    <div class="container-profile" style="background:pink;height:100%;">
       <div class="img-profile ion-padding-top">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
       </div>
       <div class="ion-text-center">
           <h3>Juan Antonio Velazquez</h3>
           <p>juanvelazquez@gmail.com</p>
           <p>249658-45</p>
       </div>
       <div class="flex">
           <div class="profile-options">
                <ion-button expand="block" color="primary">Editar mi Perfil</ion-button>
                <ion-button expand="block" color="secondary">Cambiar mi Contraseña</ion-button>
                <ion-button expand="block" color="tertiary">Solicitar Afiliación</ion-button>
           </div>
       </div>
       <!-- <ion-grid>
           <ion-row class="flex">
               <div class="profile-options">

               </div>
               <ion-col size="8">
                    <ion-button expand="block" color="primary">Editar mi Perfil</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-button expand="block" color="secondary">Solicitar Afiliación</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-button expand="block" color="tertiary">Cambiar mi Contraseña</ion-button>
                </ion-col> 
           </ion-row>
       </ion-grid> -->
    </div>
</ion-content>
