<app-header title="Mi Perfil"></app-header>

<ion-content>
    <!-- <p>Mi Perfil</p> -->
    <div class="container-profile">
       <div class="img-profile ion-padding-top">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="">
       </div>
       <div class="ion-text-center">
           <h3>{{userApp.firstname || 'Sin Nombre'}} {{userApp.lastname || 'Sin Apellidos'}}</h3>
           <p>{{userApp.email || 'sin email'}}</p>
           <p>{{userApp.phone || 'sin telefono'}}</p>
       </div>
       <div class="flex">
           <div class="profile-options">
                <ion-button expand="block" color="primary" (click)="showProfileEditModal()">Editar mi Perfil</ion-button>
                <ion-button expand="block" color="secondary" (click)="showChangePassModal()">Cambiar mi Contraseña</ion-button>
                <ion-button expand="block" color="tertiary" (click)="showRequestMembershipModal()">Solicitar Afiliación</ion-button>
                <ion-button expand="block" color="warning" (click)="showRequestChangeUserProfileModal()">Cambiar Imagen Perfil</ion-button>
           </div>
       </div>
    </div>
</ion-content>
