<app-header-back title="Servicios Públicos"></app-header-back>
<ion-content>
    <!-- <app-network-banner *ngIf="!appNetworkConnection" networkConnection="appNetworkConnection"></app-network-banner> -->
    <div>
        <multiple-map *ngIf="publicServices.length > 0"
            idMap="public-services" 
            [zoomMap]="12" 
            [mapPoints]="publicServices" 
            [enableGesture]="false" 
            (returnMapLoaded)="manageDataMap($event)">
        </multiple-map>
        <!-- <ion-button expand="full" (click)="lanzarModal()">Abrir Modal</ion-button> -->
        <!-- <div style="text-align:center" *ngIf="publicServiceSelected">
            <p>Servicio: {{publicServiceSelected.title}}</p>
            <p>Latitud: {{publicServiceSelected.latitude}}</p>
            <p>Longitud: {{publicServiceSelected.longitude}}</p>
        </div> -->
    </div>
</ion-content>
