.dont-have-account{
    a{
        margin-left: 4px;
        text-decoration: none;
    }
}
// .form-register-container{
//     margin-top: 1rem;
// }
.item-checkbox{
    padding: 15px;
}
.item-checkbox .checkbox {
    right: auto !important;
}
.item-checkbox .label{
    margin-left: 1rem;
}
.link {
    background-color: transparent;
    color: #3880ff;
}

.title_register{
    font-size: .8em;
}

.divider-full{
    background: #dedede;
    height: 1px;
    width: 100%;
    margin: 1rem 0 .2rem;
}