<ion-tabs>
    <ion-tab-bar slot="bottom" color="blue-logo-alt" class="tab-bar-app">
        <ion-tab-button tab="categories" class="tab-button-blue">
            <ion-icon name="home"></ion-icon>
            <ion-label>Categorias</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="create" class="tab-button-blue" *appHasRole="['morador']">
            <ion-icon name="send"></ion-icon>
            <ion-label>Reportar</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
