<app-header title="Mi Perfil"></app-header>

<ion-content padding>
    <div class="container-profile">
        <!-- AVATAR USUARIO -->
        <div class="img-profile ion-padding-top">
            <div class="item_img" *ngIf="AuthUser">
                <img [src]="AuthUser.avatar_link" fallimg="user_avatar" (click)="seeProfileImageDetail(AuthUser.avatar_link)" />
                <div class="upload_image" (click)="showChangeUserImageProfileModal()">
                    <ion-icon name="camera"></ion-icon>
                </div>
            </div>
        </div>
        <!-- INFORMACION DEL USUARIO -->
        <div class="ion-text-center" *ngIf="AuthUser">
            <h3 class="user_data">
                <span>{{AuthUser.first_name || 'Sin Nombre'}}
                    {{AuthUser.last_name || 'Sin Apellidos'}}</span>
            </h3>
            <p class="user_data">
                <span>{{AuthUser.email || 'sin email'}}</span>
            </p>
            <p class="user_data">
                <span class="ion-text-capitalize">
                    {{(AuthUser && AuthUser.roles && AuthUser.roles.length > 0) ? AuthUser.roles[0].name : 'No tienes un rol registrado'}}
                </span>
            </p>
            <p class="user_data" *ngIf="AuthUser.number_phone">
                <ion-icon name="call" class="icon"></ion-icon>
                <span>{{AuthUser.number_phone || 'sin telefono'}}</span>
            </p>
        </div>
        <!-- OPCIONES EDITAR MENU -->
        <ion-grid>
            <ion-row>
                <ion-col class="user_profile_options">
                    <div class="icon_option" (click)="showEditProfileModal()">
                        <ion-icon name="create"></ion-icon>
                    </div>
                    <p class="title_option">Editar Perfil</p>
                </ion-col>
                <ion-col class="user_profile_options">
                    <div class="icon_option" (click)="showChangePassModal()">
                        <ion-icon name="key"></ion-icon>
                    </div>
                    <p class="title_option">Cambiar Contraseña</p>
                </ion-col>
                    <!-- <ion-col class="user_profile_options"> -->
                    <ion-col class="user_profile_options" *appHasRole="['invitado']">
                        <div class="icon_option" (click)="showRequestMembershipModal()">
                            <ion-icon name="document"></ion-icon>
                        </div>
                        <p class="title_option">Solicitar Afiliación</p>
                    </ion-col>
                <ion-col class="user_profile_options" *appHasDevice="UserDevices">
                    <div class="icon_option" (click)="addDeviceToUser()">
                        <ion-icon name="notifications"></ion-icon>
                    </div>
                    <p class="title_option">Asociar Mi Dispositivo</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- REDES SOCIALES ASOCIADAS -->
        <div class="list-items-container"
            *ngIf="UserSocialProfiles && UserSocialProfiles.length > 0">
            <p class="title title_font">Redes Sociales Asociadas</p>
            <div class="list-items">
                <div class="list-item"
                    *ngFor="let user_social_profile of UserSocialProfiles; let i = index">
                    <div class="item-left">
                        <img class="icon" src="/assets/img/svg/google.svg"
                            *ngIf="(user_social_profile.provider | lowercase) === 'google'">
                        <img class="icon" src="/assets/img/svg/facebook.svg"
                            *ngIf="(user_social_profile.provider | lowercase) === 'facebook'">
                        <span class="label">Stalin Maza</span>
                    </div>
                    <div class="item-right">
                        <ion-button *ngIf="AuthUser.password !== null" color="light"
                            class="ion-text-capitalize"
                            (click)="removeSocialProfileToUser(user_social_profile.id)">Desconectar
                        </ion-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-column-center"
            *ngIf="userSocialProfilesLoaded && UserSocialProfiles.length === 0">
            <p>No tienes redes sociales asociadas</p>
        </div>
        <!-- DISPOSITIVOS ASOCIADOS -->
        <div class="list-items-container" *ngIf="UserDevices && UserDevices.length > 0">
            <p class="title title_font">Dispositivos asociados</p>
            <div class="list-items">
                <div class="list-item" *ngFor="let user_device of UserDevices; let i = index">
                    <div class="item-left">
                        <img class="icon" src="/assets/img/svg/smartphone.svg">
                        <div class="label">
                            <p>{{user_device.phone_model}}</p>
                            <p class="device_last_conexion">
                                {{ (user_device.updated_at) ? (user_device.updated_at | beafitulDate) : ''}}
                            </p>
                        </div>
                    </div>
                    <div class="item-right">
                        <ion-button *ngIf="user_device.phone_id !== CurrentUserDevice.phone_id"
                            color="light" class="ion-text-capitalize"
                            (click)="removeUserDevice(user_device.id)">Desconectar</ion-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-column-center"
            *ngIf="userDevicesLoaded && UserDevices.length === 0">
            <p>No tienes dispositivos asociados</p>
        </div>
    </div>
</ion-content>
