<app-header-back title="Mis Emergencias"></app-header-back>

<ion-content>
    <!-- <div class="container_emergency_options">
        <div class="first"></div>
        <div class="create">
            <ion-button color="primary">Reportar</ion-button>
        </div>
    </div> -->
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <!-- <ion-grid size="10"></ion-grid> -->
            <ion-grid style="display:flex;justify-content:center;">
                <ion-button color="primary">
                    Reportar <ion-icon name="send" slot="end"></ion-icon>
                </ion-button>
            </ion-grid>
        </ion-row>
    </ion-grid>
    <p>Mis emergencias</p>
</ion-content>
