<app-header title="Reportar"></app-header>

<ion-content>

    <ion-grid class="grid-container-center">
        <ion-row class="main-row-center column-flex">
        <div id="emergency_report">
        <ion-button expand="full">Reportar Emergencia</ion-button>
        </div>            
        <div id="social_problem_report">
        <ion-button expand="full">Reportar Problema Social</ion-button>
        </div>            
        </ion-row>
    </ion-grid>

</ion-content>

<!-- <ion-content no-padding no-bounce>
    <ion-grid no-padding>
      <ion-row>
        <ion-col class="flex">
          <h1>ion-grid</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content> -->

<!-- <ion-content padding>
  <ion-grid style="height: 100%">
  <ion-row class="flex" style="height: 100%">
    <h1>ion-grid</h1>
  </ion-row>
</ion-grid> -->