<app-header-back title="Reportar Problema"></app-header-back>

<ion-content padding>
    <app-stepbar [progressSteps]="socialProblemFormStage" [currentStep]="currentStep"
        (returnCurrentStep)="updateCurrentStep($event)"></app-stepbar>
    <section *ngIf="currentStep === 3
    ">
        <form [formGroup]="socialProblemForm">
            <div class="item-form">
                <ion-item class="input_item">
                    <ion-label position="floating">Titulo</ion-label>
                    <ion-input formControlName="title" type="email"></ion-input>
                </ion-item>
                <div class="feedback-icon">
                    <ion-item lines="none">
                        <button class="icon-help-input" disabled>
                            <ion-icon name="close-circle" class="error"
                                *ngIf="socialProblemForm.get('title').touched && socialProblemForm.get('title').invalid">
                            </ion-icon>
                            <ion-icon name="checkmark-circle" class="success"
                                *ngIf="socialProblemForm.get('title').touched && socialProblemForm.get('title').valid">
                            </ion-icon>
                        </button>
                    </ion-item>
                </div>
            </div>
            <div class="form-errors">
                <p class="form-error"
                    *ngIf="socialProblemForm.get('title').hasError('required') && socialProblemForm.get('title').touched">
                    {{errorMessages.title.required.message}}
                </p>
            </div>
            <div class="item-form">
                <ion-item class="input_item">
                    <ion-label position="floating">Descripcion</ion-label>
                    <ion-textarea formControlName="description" auto-grow="true"></ion-textarea>
                </ion-item>
                <div class="feedback-icon">
                    <ion-item lines="none">
                        <button class="icon-help-input" disabled>
                            <ion-icon name="close-circle" class="error"
                                *ngIf="socialProblemForm.get('description').touched && socialProblemForm.get('description').invalid">
                            </ion-icon>
                            <ion-icon name="checkmark-circle" class="success"
                                *ngIf="socialProblemForm.get('description').touched && socialProblemForm.get('description').valid">
                            </ion-icon>
                        </button>
                    </ion-item>
                </div>
            </div>
            <div class="form-errors">
                <p class="form-error"
                    *ngIf="socialProblemForm.get('description').hasError('required') && socialProblemForm.get('description').touched">
                    {{errorMessages.description.required.message}}
                </p>
            </div>
            <div padding>
                <ion-button color="primary" type="submit" expand="block" (click)="validatePhase3()">Siguiente
                </ion-button>
            </div>
        </form>
    </section>
    <section *ngIf="currentStep === 1
    ">
        <p class="ion-text-center">Puedes agregar hasta 2 imagenes</p>
        <ion-grid *ngIf="socialProblemImages.length > 0">
            <ion-row>
                <ion-col size="6" *ngFor="let image of socialProblemImages; let i = index;">
                    <ion-item-sliding>
                        <ion-item>
                            <ion-card>
                                <img [src]="image">
                            </ion-card>
                        </ion-item>
                        <ion-item-options side="end">
                            <ion-item-option (click)="deleteImage(i)" color="danger" expandable="true">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-col>
            </ion-row>
        </ion-grid>
        <app-upload-image [uploadedImages]="socialProblemImages" [maxImages]="2"
            (retornarImagenesSubidas)="getUploadedImages($event)"></app-upload-image>
        <div padding>
            <ion-button color="primary" type="submit" expand="block" (click)="validatePhase1()">Siguiente
            </ion-button>
        </div>
    </section>
    <section *ngIf="currentStep === 2
    ">
        <p class="ion-text-center">Escoge la ubicación donde se genero la emergencia</p>
        <single-map idMap="socialProblemReportMap" [zoomMap]="14" [mapPoints]="socialProblemCoordinate"
            (returnCoordinateChoosen)="updateMapCoordinate($event)"></single-map>
        <p>Latitud PAGE EC: Market {{socialProblemCoordinate.latitude}}</p>
        <p>Longitud PAGE EC: Market {{socialProblemCoordinate.longitude}}</p>
        <p *ngIf="socialProblemCoordinate.address">Tu Dirección es: {{socialProblemCoordinate.address}}</p>
        <div>
            <ion-button color="primary" expand="full" type="submit" (click)="validatePhase2()">Siguiente
            </ion-button>
        </div>
    </section>
    <section *ngIf="currentStep === 4
    ">
        <h2>{{socialProblemForm.get('title').value || 'Ingresa un Titulo'}}</h2>
        <p>{{socialProblemForm.get('title').value || 'Ingresa una descripción'}}</p>
        <p *ngIf="socialProblemCoordinate.address">Dirección de la Emergencia</p>
        <p *ngIf="socialProblemCoordinate.address">{{socialProblemCoordinate.address}}</p>
        <p *ngIf="!socialProblemCoordinate.address">Por favor escoge una ubicación</p>
        <div class="section-img-thumb" *ngIf="socialProblemImages.length > 0">
            <ion-thumbnail *ngFor="let image of socialProblemImages">
                <img [src]="image">
            </ion-thumbnail>
        </div>
        <p *ngIf="socialProblemImages.length === 0">No hay imagenes en este post</p>
        <div>
            <ion-button expand="full" (click)="sendSocialProblem()">Reportar</ion-button>
        </div>
    </section>
</ion-content>