<!-- Cabecera -->
<app-header-back title="Eventos" [search]="false" backUrl="events/categories">
</app-header-back>
<!-- Contenido -->
<ion-content padding>
    <!-- Refresher de los Datos -->
    <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"
            refreshingText="Cargando Publicaciones...">
        </ion-refresher-content>
    </ion-refresher> -->
     <!-- Eventos Searchbar -->
     <ion-searchbar mode="ios" type="text" placeholder="Buscar Eventos" [animated]="true"
     [formControl]="eventControl"></ion-searchbar>
       <!-- Loading mientras se realiza la busqueda -->
    <div class="loading-app" *ngIf="searchingEvents">
        <loader-app class="flex-column-center" message="Buscando..."></loader-app>
    </div>
    <!-- Mensaje si datos no cargan o son tamaño 0 -->
    <app-no-results-found *ngIf="showNotFound && eventsFiltered.length === 0"
        message="No hay eventos disponibles"></app-no-results-found>
    <!-- Tarjetas Animacion hasta cargar datos-->
     <div class="loading-app" *ngIf="showLoading">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    
    <!-- Tarjeta Datos Cargados y Disponibles -->
    <div *ngIf="!showLoading  && eventsFiltered.length > 0" [@listAnimation]>
        <ion-card class="event" *ngFor="let event of eventsFiltered; let i = index;">
            <div class="post_cover" *ngIf="event.imagesArr && event.imagesArr.length > 0">
                <img class="img" [src]="event.imagesArr[0]" (error)="imgError($event)"/>
            </div>
            <div class="event__header" (click)="postDetail(event.id)">
                <ion-card-header class="main-section-header">
                    <ion-card-title class="main-section-header__title">
                        <span>{{event.title}}</span>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content class="main-section-info">
                        <p class="main-section-info__item">
                            <span class="icon-fulldate">
                                <ion-icon name="calendar"></ion-icon>
                            </span>
                            <span class="main-section-info__description">
                                {{ event.range_short_date }} 
                            </span>
                        </p>
                    <p class="main-section-info__item">
                        <span class="icon-ubication">
                            <ion-icon name="pin"></ion-icon>
                        </span>
                        <span class="description">
                            {{ (event.ubication && event.ubication.address) ? event.ubication.address : 'Direccion no encontrada' }}
                        </span>
                    </p>
                </ion-card-content>
            </div>
            <div class="event__footer social">
                <!-- <div class="social-content" *ngIf="event.reactions.length > 0">
                    <span>
                        A {{event.reactions.length}}
                        {{(event.reactions.length === 1) ? 'vecino le interesa asistir' : 'vecinos les interesa asistir'}}
                    </span>
                </div> -->
                <div class="social-options">
                    <!-- <div class="social-button ion-activatable" [class.active]="event.postAssistance"
                        (click)="toggleAssistance(event.postAssistance, event.id)">
                        <ion-icon class="assistance" name="star"></ion-icon>
                        <span>
                            {{eventButtonMessage}}
                        </span>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div> -->
                    <div class="social-button ion-activatable" (click)="sharePost(event)">
                        <ion-icon class="share" name="share"></ion-icon>
                        <span><i class="fa fa-share"></i>Compartir</span>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </div>

            </div>
        </ion-card>
    </div>
    <!-- Scroll Infinito -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getInfiniteScrollData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent"
            loadingText="Cargando Publicaciones...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
