.event_item{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.event_created_at{
    padding: .5em 0;
}
.post_cover{
  background: #dfdfdf;
  height: 150px;
  .img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.event {
    &__header{
        .main-section-header{
            &__title{
                position: relative;
                font-size: 1.2em;
            }
        }
        .main-section-info {
            padding-bottom: 5px;
            &__item {
                margin-bottom: .7rem;
              ion-icon {
                margin-right: .7rem;
                font-size: 1rem;
              }
              .description, .date, .ubication {
                line-height: 1.5rem;
              }
              
            }
            p{
              font-size: .92em;
            }
          }
    }
    margin-bottom: 1.5em;
    .event-title {
      position: relative;
    }
    .event-image{
        height: 150px;
        margin-bottom: 1rem;
        .img{
            height: 100%;
            object-fit: cover;
            height: 100%;
        }
    }
    .container-more-options {
      position: absolute;
      top: 5px;
      right: -5px;
      font-size: 25px;
    }
    
}

.icon-ubication {
  color: var(--ion-color-orange);
}

.icon-fulldate {
  color: var(--ion-color-primary);
}

.icon-people {
  color: var(--ion-color-primary);
}

ion-card{
  margin-bottom: 2em;
}