.event-category {
  width: 80px;
  height: 80px;
  ;
  border-radius: 50%;
  background-size: auto;
  background-position: center;
  background-color: #f7f4f4;
  border-radius: 50%;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}

.category-title {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  /* Sólo WebKit -NO DOCUMENTADO */
  -ms-hyphens: auto;
  /* Guiones para separar en sílabas */
  -moz-hyphens: auto;
  /*  depende de lang en <html>      */
  -webkit-hyphens: auto;
  hyphens: auto;
  font-size: .8em;
  text-align: center;
  text-transform: uppercase;
}