<app-header-back title="Categorias"></app-header-back>
<ion-content>
    <!-- Mensaje mientras cargan categorias -->
    <div class="loading-app" *ngIf="!categoriesLoaded">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    <!-- Mensaje si datos no cargan o son tamaño 0 -->
    <app-no-results-found *ngIf="categoriesLoaded && categories.length === 0"
        message="No existen categorias disponibles"></app-no-results-found>
    <!-- Datos cuando cargan las categorias -->
    <ion-grid *ngIf="categoriesLoaded && categories.length > 0">
        <ion-row style="justify-content: center;">
            <ion-col size="4" *ngFor="let category of categories; let i = index;">
                <ion-card style="box-shadow:none !important;" (click)="goToList(category.slug)">
                    <div
                        style="padding: .5em;display: flex;align-items: center;flex-direction: column;">
                        <div class="event-category" [style]="category.image_link | backgroundUrl">
                        </div>
                        <h1 class="ion-text"
                            style="font-size: 1em;text-align:center;text-transform: uppercase;">
                            {{category.name}}</h1>
                    </div>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
