.public-service-category {
  width: 80px;
  height: 80px;;
  border-radius: 50%;
  background-size: auto;
  background-position: center;
  background-color: #f7f4f4;
  border-radius: 50%;
  background-size: 40px;
  background-position: center center;
  background-repeat: no-repeat;
}

.alert-gps{
    text-align: center;
}

.category-title{
  font-size: 1em;
  text-align:center;
  text-transform: uppercase;
  width: 100%;
}