<app-header title="Información" [showNoti]="false"></app-header>

<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%;flex-direction: column;">
            <div class="container-img">
                <img src="assets/img/svg/sanIsidroIconOnlyTransparent.svg" alt="Logo San Isidro Unido">
            </div>
            <h3>San Isidro Unido</h3>
            <p>Versión: {{config.VERSION}}</p>     
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <div class="footer_credits">
        <h5 class="title">Desarrolladores</h5>
        <p class="content">
            <span>Stalin Maza</span>
        </p>
        <p class="content">
            <span>Josué Cando</span>
        </p>
    </div>
   </ion-footer>