<app-header title="Información" [showNoti]="false"></app-header>

<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%;flex-direction: column;">
            <h3>San Isidro Unido</h3>
            <p>Versión: {{config.VERSION}}</p>            
            <!-- <p>{{CurrentUserDevice | json}} </p> -->
            <!-- <ion-badge>Conexión a Internet: <ion-badge [color]="(isConnected)?'success':'danger'">{{ (isConnected)?'disponible':'no disponible' }}</ion-badge></p> -->
        </ion-row>
    </ion-grid>
</ion-content>