<!-- <ion-toolbar mode="md">
        <ion-segment color="tertiary" scrollable mode="md">        
            <ion-segment-button value="todos" mode="md">
                <ion-label>Todas</ion-label>
            </ion-segment-button>        
            <ion-segment-button value="emergency" mode="md">
                <ion-label>Emergencia</ion-label>
            </ion-segment-button>        
            <ion-segment-button value="social_problem" mode="md">
                <ion-label>Problema Social</ion-label>
            </ion-segment-button>
            <ion-segment-button value="event" mode="md">
                <ion-label>Eventos</ion-label>
            </ion-segment-button>      
        </ion-segment>
</ion-toolbar> -->
<ion-list class="list-notifications">
        <ion-list-header *ngIf="showListHeader">
            <ion-label>
                <h2 class="title_list">Notificaciones</h2>
            </ion-label>
        </ion-list-header>
        <ion-item [lines]="getLinesState(i)" *ngFor="let noti of notificationsRequested; let i = index;">
            <ion-avatar slot="start" *ngIf="noti.user">
                <img [src]="noti.user.avatar || 'http://cmauriflama.sp.gov.br/app/webroot/img/avatar-user.png' ">
            </ion-avatar>
            <ion-label class="notifications_description">
                <h2 class="title">{{noti.title}}</h2>
                <h3 class="author">{{noti.user.firstname}} {{noti.user.lastname}} </h3>
                <p class="description ion-text-wrap">{{noti.message}}</p>
            </ion-label>
        </ion-item>
    </ion-list>