.icon-help-input {
    position: absolute;
    right: 0;
    bottom: 4px;
    background: transparent;
    font-size: 18px;

    ion-icon.error {
        color: var(--ion-color-danger);
    }

    ion-icon.success {
        color: var(--ion-color-success);
    }
}
.input-container{
    width: 100%;
}
.input-general{
    height: 37px !important;
}
.input-general-container{
    width: 100% !important;
}

.position-relative{
    position: relative;
}

.validation-icon{
    position: absolute;
    width: auto;
    bottom: 5px;
    right: 10px;
    margin-top: 0;
    color: #619f42;
    z-index: 999;
    &.left{
        right: 25px;
    }
}

.input-beatiful{
    background-color: var(--ion-color-input-bg);
    color: var(--ion-color-dark-tint);
    display: block;
    border: none !important;
    padding: .375rem .75rem !important;
    font-size: 1rem;
    width: 100%;
    border: 1px solid var(--ion-color-input-border) !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 37px;
    margin: 0 auto;
    border-radius: .25rem;
    background-clip: padding-box;
    &.text-area{
        height: auto !important; 
    }
}

.btn_eye_icon {
    position: absolute;
    right: 10px;
    bottom: 50%;
    background: transparent;
    z-index: 1000;
    transform: translateY(50%);
    &.icon-left{
        right: 30px;
    }
    &.form-two{
        right: 16px !important;
        bottom: 20px !important;
    }

    ion-icon {
        font-size: 22px;
        color: var(--ion-color-gray);
    }
    &:focus{
       outline: none !important; 
    }
}

.item-form {
    .input_item {
        display: inline-block;
        width: 90%;
        &.padding-lateral-none{
            --padding-start: 0px;
            --padding-end: 0px;
        }
    }
    &.full{
        width: 100%;
        .input_item {
            width: 100%;
        }
    }
    .small-font{
        font-size: 13px;
    }
    .padding-top{
        padding-top: 1rem;
    }

    .feedback-icon {
        display: inline-flex;
        justify-content: center;
        width: 10%;

        ion-item {
            display: inline-block;
            width: 100%;
            --padding-start: 0px;
        }
    }
}

.form-ubication{
    margin-bottom: 1.2rem;
    margin-bottom: 1.2rem;
}

.form-errors {
    p {
        color: var(--ion-color-danger);
        font-size: .8rem;
    }
    .padding-lateral{
        padding: 0 1rem;
    }
}

// Botones Alerta Confirmacion
.alertButtons {
    button.alert-button.cancel_button {
        color: #aaa;
    }

    button.alert-button.confirm_button {
        font-weight: bold;
        color: var(--ion-color-darkblue);
    }
}
.item-info{
    color: gray;
    p{
        font-size: .7em;
        margin: 10px 16px 5px;
    }
}

.social-networks{
    margin-top: 1em;
}
.social_login{
    margin-bottom: 2rem;
}
.padding-lateral{
    padding: 0 16px;
}
.padding-lateral-small{
    padding: 0 1rem
}

.label-padding{
    margin: .5rem 0 !important;
}
.label-margin{
    margin-bottom: 1rem !important;
}
.google-btn-alt{
    --border-color: var(--ion-color-google);
    --border-style: solid;
    --border-width: 1px;
}

.facebook-btn-alt{
    --border-color: var(--ion-color-facebook);
    --border-style: solid;
    --border-width: 1px;
}
