<ion-header>
        <ion-toolbar color="primary">
          <ion-title class="ion-text-center">Cambiar Imagen Perfil</ion-title>
          <ion-buttons slot="end">
              <ion-button (click)="closeModal()">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content padding>
          <app-upload-image [maxImages]="1" (returnUploadedImages)="getUploadedImages($event)"></app-upload-image>
          <ion-button class="btn_send_request_membership" expand="block" (click)="sendRequestChangeUserProfile()" [disabled]="profileUserImg.length === 0">Enviar</ion-button>
      </ion-content>