<app-header title="Información" [showNoti]="false"></app-header>

<ion-content padding>
    <ion-grid style="height: 100%">
        <ion-row justify-content-center align-items-center style="height: 100%;flex-direction: column;">
            <h3>San Isidro Unido</h3>
            <p>Versión: 1.0.2</p>            
            <p>{{UserDevice?.phone_id || 'No se pudo obtener el ID Dispositivo'}} </p>
            <p>Conexión a Internet: <ion-badge [color]="(isConnected)?'success':'danger'">{{ (isConnected)?'disponible':'no disponible' }}</ion-badge></p>
        </ion-row>
    </ion-grid>
</ion-content>