.already-have-account{
    a{
        margin-left: 5px;
        text-decoration: none;
    }
}

.title_login{
    font-size: .8em;
    // font-weight: bold;
}


.logo{
    height: 100px;width: 100px;
}

.footer_not_account{
    text-align: center;
    font-size: .85em;
    a{
        margin-left: .5em;
    }
}

.section-password-forgot{
    // display: none;
    margin: 1.3em auto .5em;
    text-align: right;
    p{
        margin: 0;
        font-size: 12px;
    }
}
