<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="backUrl"></ion-back-button>
        </ion-buttons>
        <ion-title>Inicio de Sesión</ion-title>
        <ion-item slot="end" lines="none" detail="false" style="--background: transparent;margin-top: 10px;">
            <img src="assets/img/svg/sanIsidroIconOnlyTransparent.svg" alt="Logo" style="height:50px;width:40px;">
        </ion-item>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <div class="container-app"> -->
    <ion-grid class="grid-container-center padding-none">
        <!-- <ion-row  style="background: url('/assets/img/default/background_first.jpg');background-size:contain;"> -->
        <!-- <ion-row>
            <div style="display: flex;justify-content: center; width: 100%; margin: 1rem 0;">
                <img class="logo" src="assets/img/svg/sanIsidroIconTransparent.svg" alt="logo">
            </div>
        </ion-row> -->
        <ion-row class="main-row-center" class="social_login">
            <ion-grid class="padding-none">
                <ion-row class="login-form-container">
                    <ion-col size="12">
                        <form [formGroup]="loginForm">
                            <div class="item-form full">
                                <ion-item class="input_item" lines="none">
                                    <ion-label class="label-padding label-margin" position="stacked">Email
                                    </ion-label>
                                    <div class="input-general-container">     
                                        <ion-input class="input-beatiful input-general" placeholder="john@gmail.com"
                                            formControlName="email" type="email" #first_field>
                                        </ion-input>
                                    </div>
                                </ion-item>
                            </div>
                            <div class="form-errors padding-lateral-small">
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                                    {{errorMessages.email.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('minlength') && loginForm.get('email').touched">
                                    {{errorMessages.email.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('maxlength') && loginForm.get('email').touched">
                                    {{errorMessages.email.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                                    {{errorMessages.email.pattern.message}}
                                </p>
                                <p class="form-error"
                                *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">
                                {{errorMessages.email.email.message}}
                            </p>
                            </div>
                            <div class="item-form full">
                                <ion-item class="input_item" lines="none">
                                    <ion-label class="label-padding label-margin" position="stacked">Contraseña
                                    </ion-label>
                                    <div class="input-container">
                                        <ion-input class="input-beatiful" #passwordEyeLogin
                                            formControlName="password" placeholder="********"
                                            [type]="passwordTypeInput" clearOnEdit="false">
                                        </ion-input>
                                        <button item-end class="btn_eye_icon"
                                            (click)="togglePasswordMode()">
                                            <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
                                        </button>
                                    </div>
                                </ion-item>
                            </div>
                            <div class="form-errors padding-lateral-small">
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                                    {{errorMessages.password.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                                    {{errorMessages.password.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                                    {{errorMessages.password.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('pattern') && loginForm.get('password').touched">
                                    {{errorMessages.password.email.message}}
                                </p>
                            </div>
                            <div class="section-password-forgot">
                                <p (click)="forgotPassword()">¿Olvidaste tu contraseña?</p>
                            </div>
                            <div padding>
                                <ion-button (click)="loginUser()" color="red-logo" type="submit"
                                    expand="block" [disabled]="!loginForm.valid" class="ion-text-capitalize">
                                    Iniciar Sesión
                                </ion-button>
                            </div>
                        </form>
                    </ion-col>
                </ion-row>
                <ion-row class="social-networks">
                    <ion-col size="12">
                        <p class="title_login padding-lateral ion-text-center">Tambien puedes ingresar utilizando
                            tus redes sociales</p>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-center class="padding-lateral">
                    <ion-col size="6">
                        <ion-button class="google-btn-alt" (click)="loginUserByGoogle()"
                            color="google-alt" expand="block">
                            <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button class="facebook-btn-alt" (click)="loginUserByFB()"
                            color="facebook-alt" expand="block">
                            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
    <!-- </div> -->
</ion-content>
<ion-footer class="ion-no-border">
   <div class="footer_not_account">
       <p>
           <span>No tienes una cuenta?</span>
           <a (click)="goToRegister()">Registrate aquí</a>
       </p>
   </div>
  </ion-footer>