.body-menu {
  ion-list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .item-menu{
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.footer-menu {
  position: absolute;
  bottom: 0;
  ion-item{
      --background: red;
  }
}
.header-menu {
  margin-bottom: 1rem;
}

