<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="backUrl"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
        <ion-item slot="end" lines="none" detail="false" style="--background: transparent;margin-top: 10px;">
            <img src="assets/img/svg/sanIsidroIconOnlyTransparent.svg" alt="Logo" style="height:50px;width:40px;">
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="grid-container-center">
        <!-- <ion-row style="background: url('/assets/img/default/background_first.jpg');background-size:contain;"> -->
        <!-- <ion-row>
            <div style="display: flex;justify-content: center; width: 100%; margin: 1rem 0;">
                <img src="assets/img/svg/sanIsidroIconTransparent.svg" alt="logo" class="logo">
            </div>
        </ion-row> -->
        <ion-row class="main-row-center">
            <ion-grid>
                <ion-row class="form-register-container">
                    <ion-col size="12">
                        <form [formGroup]="registerForm">
                            <div class="item-form full">
                                <ion-item class="input_item" lines="none">
                                    <ion-label class="label-padding label-margin" position="stacked">Nombres
                                    </ion-label>
                                    <ion-input class="input-beatiful" placeholder="John" type="text"
                                        formControlName="first_name" #first_field></ion-input>
                                </ion-item>
                            </div>
                            <div class="form-errors padding-lateral">
                                <p class="form-error"
                                    *ngIf="registerForm.get('first_name').hasError('required') && registerForm.get('first_name').touched">
                                    {{errorMessages.first_name.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('first_name').hasError('minlength') && registerForm.get('first_name').touched">
                                    {{errorMessages.first_name.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('first_name').hasError('maxlength') && registerForm.get('first_name').touched">
                                    {{errorMessages.first_name.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('first_name').hasError('pattern') && registerForm.get('first_name').touched">
                                    {{errorMessages.first_name.pattern.message}}
                                </p>
                            </div>
                            <div class="item-info">
                                <p>
                                   No se permite símbolos o caracteres especiales
                                </p>
                            </div>                            
                            <div class="item-form full">
                                <ion-item class="input_item" lines="none">
                                    <ion-label class="label-padding label-margin" position="stacked">Apellidos
                                    </ion-label>
                                    <ion-input class="input-beatiful" placeholder="Doe" type="text"
                                        formControlName="last_name"></ion-input>
                                </ion-item>
                            </div>
                            <div class="form-errors padding-lateral">
                                <p class="form-error"
                                    *ngIf="registerForm.get('last_name').hasError('required') && registerForm.get('last_name').touched">
                                    {{errorMessages.last_name.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('last_name').hasError('minlength') && registerForm.get('last_name').touched">
                                    {{errorMessages.lastname.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('last_name').hasError('maxlength') && registerForm.get('last_name').touched">
                                    {{errorMessages.lastname.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('last_name').hasError('pattern') && registerForm.get('last_name').touched">
                                    {{errorMessages.lastname.pattern.message}}
                                </p>
                            </div>
                            <div class="item-info">
                                <p>
                                   No se permite símbolos o caracteres especiales
                                </p>
                            </div> 
                            <div class="item-formcfull">
                                <ion-item class="input_item" lines="none">
                                    <ion-label class="label-padding label-margin" position="stacked">Correo Electrónico
                                    </ion-label>
                                    <ion-input class="input-beatiful" placeholder="john@gmail.com" type="text"
                                        formControlName="email"></ion-input>
                                </ion-item>
                            </div>
                            <div class="form-errors padding-lateral">
                                <p class="form-error"
                                    *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                                    {{errorMessages.email.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('email').hasError('minlength') && registerForm.get('email').touched">
                                    {{errorMessages.email.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('email').hasError('maxlength') && registerForm.get('email').touched">
                                    {{errorMessages.email.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched">
                                    {{errorMessages.email.pattern.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
                                    {{errorMessages.email.email.message}}
                                </p>
                            </div>
                            <div class="item-form full">
                                <ion-item class="input_item" lines="none">
                                    <ion-label class="label-padding label-margin" position="stacked">Contraseña
                                    </ion-label>
                                    <div class="input-container">
                                        <ion-input class="input-beatiful input_relative" #passwordEyeRegister
                                            [type]="passwordTypeInput" placeholder="********" formControlName="password"
                                            clearOnEdit="false">
                                        </ion-input>
                                        <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                                            <ion-icon [name]="(passwordTypeInput === 'text')?'eye-off':'eye'">
                                            </ion-icon>
                                        </button>
                                    </div>
                                </ion-item>
                            </div>
                            <div class="form-errors padding-lateral">
                                <p class="form-error"
                                    *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
                                    {{errorMessages.password.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
                                    {{errorMessages.password.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="registerForm.get('password').hasError('pattern') && registerForm.get('password').touched">
                                    {{errorMessages.password.pattern.message}}
                                </p>
                            </div>
                            <div class="item-info">
                                <p>
                                    La contraseña debe contener entre 8-20 caracteres, al menos 1 letra mayúscula, 1
                                    letra minuscula, 1 número y un caracter no alfanumérico.
                                </p>
                            </div>
                            <div padding>
                                <ion-button (click)="registerUser()" [disabled]="!registerForm.valid" color="red-logo"
                                    type="submit" expand="block" class="ion-text-capitalize">
                                    Registrarme</ion-button>
                            </div>
                        </form>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <p class="title_register padding-lateral ion-text-center">Tambien puedes registrarte utilizando
                            tus redes sociales</p>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-center class="padding-lateral">
                    <ion-col size="6">
                        <ion-button class="google-btn-alt" (click)="registerGoogleUser()" color="google-alt"
                            expand="block">
                            <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button class="facebook-btn-alt" (click)="registerFBUser()" color="facebook-alt"
                            expand="block">
                            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
    <div class="footer_not_account">
        <p>
            <span>¿Tienes una cuenta?</span>
            <a (click)="goToLogin()">Inicia sesión</a>
        </p>
    </div>
</ion-footer>