.dont-have-account{
    a{
        margin-left: 4px;
        text-decoration: none;
    }
}
.item-checkbox{
    padding: 15px;
}
.item-checkbox .checkbox {
    right: auto !important;
}
.item-checkbox .label{
    margin-left: 1rem;
}
.title_register{
    font-size: .8em;
}

.logo{
    height: 100px;width: 100px;
}

.footer_not_account{
    text-align: center;
    font-size: .85em;
    a{
        margin-left: .5em;
    }
}