.services-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
}

.service_item{
    a{
        text-decoration: none;
    }
    .title{
        font-size: 1rem;
        font-weight: bold;
        color: gray;
        text-align: center;
    }
    .icon{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 5px;
        height: 170px;
        img{
            object-fit: cover;
            height: 100px;
            width: 100px;
        }
    }
}