<app-header-back title="Informe" hrefDefault="/reports-tabs/list"></app-header-back>

<ion-content padding>
    <!-- Mensaje si datos no cargan o son tamaño 0 -->
    <app-no-results-found *ngIf="reportLoaded && !report" message="No se pudo cargar el reporte">
    </app-no-results-found>
    <!-- Animacion hasta cargar datos -->
    <div class="loading-app" *ngIf="!reportLoaded">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    <!-- Datos ya cargados -->
    <div *ngIf="reportLoaded && report">
        <div class="report-detail">
            <div *ngIf="report.imagesArr && report.imagesArr.length > 0">
                <slideshow-images-full ionSlideClass="slideImageFull" [listImages]="report.imagesArr"
                    title="Imagen de un Evento" [slideAutoPlay]="true">
                </slideshow-images-full>
            </div>
            <section class="report-detail__main">
                <h1 class="main-section__title"> {{ report.title }}</h1>
            </section>
            <section class="report-detail__content">
                <p class="report-detail__content__title section-title">Descripción</p>
                <p class="report-detail__content__description">
                    {{report.description | truncate: 50}}
                </p>
            </section>
            <section class="report-detail_attached">
                <p class="report-detail_attached__title section-title">Adjuntos</p>
                <ion-list>
                    <ion-item>
                        <ion-label>Informe_Marzo.pdf</ion-label>
                        <ion-button (click)="openReportPDF()" slot="end">Abrir</ion-button>
                    </ion-item>
                </ion-list>
            </section>
        </div>
    </div>
</ion-content>