<ion-tabs>
    <ion-tab-bar slot="bottom" color="blue-logo-alt" class="tab-bar-app">
        <ion-tab-button tab="list" class="tab-button-blue">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="search" class="tab-button-blue">
            <ion-icon name="search"></ion-icon>
            <ion-label>Buscar</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="report" class="tab-button-blue">
            <ion-icon name="send"></ion-icon>
            <ion-label>Reportar</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
