<app-header-back title="Evento" hrefDefault="/events"></app-header-back>

<ion-content>
    <!-- Mensaje no cargaron los datos desde la Api -->
    <div class="flex-column-center message-fail-load" *ngIf="eventLoaded && !event">
        <p>No se pudo cargar el evento solicitado</p>
        <ion-button (click)="getEvent()">Toca para reintentar</ion-button>
    </div>
    <!-- Animacion Eventos Cargados -->
    <div *ngIf="!eventLoaded">
        <ion-card class="event-detail animated flash slow infinite">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text width="30%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text width="10%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
            </ion-card-content>
            <div>
                <ion-skeleton-text width="100%" style="height: 200px;"></ion-skeleton-text>
            </div>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" detail="false" button="true"
                        class="container_events detail" [ngClass]="{'active': (i % 2) === 0}">
                        <!-- <ion-icon slot="start" name="star" (click)="test()"></ion-icon> -->
                        <ion-skeleton-text width="50%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" detail="false" button="true"
                        class="container_events detail" [ngClass]="{'active': (i % 2) !== 0}">
                        <ion-skeleton-text width="50%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <!-- Datos Cargados -->
    <div *ngIf="eventLoaded && event">
        <div class="event-detail">
            <div class="post-cover" *ngIf="event && event.images && event.images.length > 0">
                <img [src]="event.images[0].url" alt="Imagen Tarjeta" class="img" />
            </div>

            <div class="post-info-container">
                <div class="post-description-info">
                    <!--<span class="post-category">
                        <span>General</span>
                    </span>-->
                    <h2 class="post-title">
                        <span>{{event.title}}</span>
                    </h2>
                    <p>{{event.description}}</p>
                </div>
                <div class="post-container-main-info">
                    <div class="main-post-info">
                        <h4 class="main-title-info">Detalle del Evento</h4>
                        <p class="item-info">
                            <span class="icon-fulldate">
                                <ion-icon name="calendar" class="social-problem-state"></ion-icon>
                            </span>
                            <span>{{ event.fulldate  }}</span>
                        </p>
                        <p class="item-info">
                            <span class="icon-ubication">
                                <ion-icon name="pin" class="social-problem-state"></ion-icon>
                            </span>
                            <span>{{ (event.ubication && event.ubication.address) ? event.ubication.address : 'Direccion no encontrada' }}</span>
                        </p>
                        <p class="item-info">
                            <span class="icon-people">
                                <ion-icon name="people" class="social-problem-state"></ion-icon>
                            </span>
                            <span *ngIf="event.postAssistance">A ti y {{event.details.length}} persona(s) más les interesa</span>
                            <span *ngIf="!event.postAssistance">
                                A {{event.details.length}} 
                                {{(event.details.length === 1) ? 'persona le interesa' : 'personas les interesa'}}
                            </span>
                            
                        </p>
                        <!-- <p (click)="test()">test</p> -->
                    </div>
                </div>

                <div class="map-container" *ngIf="event.ubication">
                    <p class="map-title">Ubicación</p>
                    <simple-map className="event-map" id="eventMap-detail-{{id}}" [coordsMap]="event.ubication" [zoom]="16" [enableGesture]="true">
                    </simple-map>
                </div>
                <div class="image-gallery-container"
                    *ngIf="event.images && event.images.length > 0">
                    <h4 class="image-gallery-title">Imágenes</h4>
                    <gallery-image [images]="event.images"> </gallery-image>
                </div>
            </div>
        </div>
    </div>

</ion-content>
<ion-footer class="footer-fixed-posts" *ngIf="event">
        <div class="social">
            <!-- <div class="social-content">A 5 Personas les gusta</div> -->
            <div class="social-options">
                <div class="social-button dark" [class.active]="event.postAssistance" (click)="toggleAssistance(event.postAssistance)">
                    <ion-icon class="assistance" name="star"></ion-icon>
                    <span>Me interesa</span>
                </div>
                <div class="social-button dark" (click)="sharePost(event)">
                    <ion-icon class="share" name="share"></ion-icon>
                    <span><i class="fa fa-share"></i>Compartir</span>
                </div>
            </div>
        </div>
    </ion-footer>