<app-header-back title="Evento" hrefDefault="/events"></app-header-back>

<ion-content padding>
    <!-- Mensaje no cargaron los datos desde la Api -->
    <div class="flex-column-center message-fail-load" *ngIf="eventLoaded && !event">
        <p>No se pudo cargar el evento solicitado</p>
        <ion-button (click)="getEvent()">Toca para reintentar</ion-button>
    </div>
    <!-- Animacion Eventos Cargados -->
    <div *ngIf="!eventLoaded">
        <ion-card class="detail-card animated flash slow infinite">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text width="30%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text width="10%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
            </ion-card-content>
            <div>
                <ion-skeleton-text width="100%" style="height: 200px;"></ion-skeleton-text>
            </div>
            <ion-row>
                <ion-col>
                    <ion-item lines="none" detail="false" button="true"
                        class="container_events detail" [ngClass]="{'active': (i % 2) === 0}">
                        <!-- <ion-icon slot="start" name="star" (click)="test()"></ion-icon> -->
                        <ion-skeleton-text width="50%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item lines="none" detail="false" button="true"
                        class="container_events detail" [ngClass]="{'active': (i % 2) !== 0}">
                        <ion-skeleton-text width="50%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <!-- Datos Cargados -->
    <div *ngIf="eventLoaded && event">
        <ion-card class="event_card detail">
            <div class="cover-event" [style.background-image]="(event.images && event.images.length > 0) ? getBGCover(event.images[0].url) : ''">
                <div class="social-buttons">
                    <div class="item-button" (click)="sharePost(event)">
                        <ion-icon class="share" name="share"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="event-info">
                <ion-card-title class="event-title">
                    {{event.title}}
                </ion-card-title>
                <p class="event-date">
                    <ion-icon name="calendar"></ion-icon>
                   {{ event.fulldate | simpleBeatifulDate }}
                </p>
                <p class="event-ubication">
                    <ion-icon name="pin"></ion-icon>
                    {{ (event.ubication && event.ubication.address) ? event.ubication.address : 'Direccion no encontrada' }}
                </p>
                <p class="assistance-info">
                    <span class="count-people">
                        <ion-icon name="people"></ion-icon>
                        {{event.details.length}}
                        {{(event.details.length !== 1) ? 'personas asistirán': 'persona asistirá'}}
                    </span>
                    <!-- <ion-chip class="chip-assistance" [class.active]="(event.postAssistance)"
                        (click)="toggleAssistance(event.postAssistance, event.id)">
                        <ion-label class="ion-align-items-center">
                            <ion-icon [name]="(event.postAssistance)?'checkmark':'people'" class="icon left"></ion-icon>
                            <span>{{(event.postAssistance) ? 'Voy a Asistir': 'Unirme'}}</span>
                        </ion-label>
                    </ion-chip> -->
                </p>
                <p>
                        <ion-chip class="chip-event-assistance" [class.active]="(event.postAssistance)"
                            (click)="toggleAssistance(event.postAssistance, event.id)">
                            <ion-label class="ion-align-items-center">
                                <ion-icon [name]="(event.postAssistance)?'checkmark':'people'"
                                    style="margin-right: 6px"></ion-icon>
                                <span>{{(event.postAssistance) ? 'Voy a Asistir': 'Unirme'}}</span>
                            </ion-label>
                        </ion-chip>
                    </p>
            </div>
            <div class="map-container" *ngIf="event.ubication">
                <p class="map-title">Ubicación</p>
                <simple-map classMap="event-map-detail map-center" idMap="eventMap-detail-{{id}}"
                    [coordsMap]="event.ubication" [zoom]="16">
                </simple-map>
            </div>
            <div class="image_gallery_container" *ngIf="event.images && event.images.length > 0">
                <p class="image_gallery_title">Imágenes</p>
                <div class="image_gallery">
                    <figure *ngFor="let image of event.images"
                        (click)="seeImageDetail(image.url)">
                        <img [src]="image.url" fallimg="image_full"/>
                    </figure>
                </div>
            </div>
        </ion-card>
    </div>

</ion-content>
