<ion-header>
        <ion-toolbar color="blue-logo">
          <ion-title class="ion-text-center" >Notificaciones</ion-title>
          <ion-buttons slot="end">
              <ion-button (click)="closeModal()">
                  <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      

<ion-content>
        <app-list-notifications class="show_all_notifications" [showListHeader]="false" [maxNotifications]="0"></app-list-notifications>
</ion-content>
