//LEAFLET WRAPPER POPUP
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #2c3e50;
  color: #fff;
}
//ESTILOS LEAFLET POPUP
.leaflet-popup-content {
  text-align: center;
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}
// ESTILOS CONTROL SEARCH
.leaflet-control-search .search-tip {
  h1 {
    font-size: 14px !important;
    margin: auto !important;
    padding: 8px;
  }
}
// ESTILOS MAPA LEAFLET EN GENERAL
#mapId {
  height: calc(90% - 44px);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  box-shadow: 5px 5px 5px #888;
  text-align: center;
}
#mapId::after {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
}
#mapId.swiping::after {
  content: "Para mover el mapa utiliza dos dedos";
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 300;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 15px;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(60, 50, 50, 0.5);
  z-index: 9999;
  pointer-events: none;
}
//Mapa para Reportar Emergencia
#emergencyReportMap {
  display: block;
  height: 200px;
  width: 100%;
}
//Mapa para Reportar Problema Social
#socialProblemReportMap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
}
// Mapa de Servicios Publicos
#public-services {
  display: block;
  width: 100%;
  height: 100vh;
}
// Mapa del Detalle del Evento
.event-map-detail{
    width: 100%;
    height: 250px;
}

