// @import "./posts/emergencies.scss";
// @import "./posts/events.scss";
// @import "./posts/reports.scss";
// @import "./posts/social-problems.scss";

.image-gallery-container {
    .image-gallery-title{
        font-size: 1em;
        font-weight: bold;
        color: var(--ion-color-dark);
    }
  .image-gallery {
    .image-item {
        margin: 0;  

      margin-bottom: 0.7rem;
      .image {
        border: 0;
        height: 150px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
// Action Sheet ICONS
.share-event {
  ion-icon {
    color: blue !important;
  }
}
.toggle-assistance {
  ion-icon {
    color: orange !important;
  }
}
.toggle-like {
  ion-icon {
    color: gray !important;
  }
  &.active {
    ion-icon {
      color: red !important;
    }
  }
}
.cancel-action {
  ion-icon {
    color: black !important;
  }
}
