<!-- <p class="ion-text-center text-img-empty" *ngIf="uploadedImages.length === 0">Por favor sube alguna imagen</p> -->
<ion-progress-bar [value]="getUploadImagePercent()"></ion-progress-bar>
<br>
<br>
<div class="section-buttons-load-image">
    <section class="container_btn_camera" (click)="loadImageFromCamera()">
        <svg class="camera">
            <use href="assets/font-awesome/sprites/solid.svg#camera" />
        </svg>
        <p class="button-title">Camara</p>
    </section>
    <section class="container_btn_gallery" (click)="loadImageFromGallery()">
        <svg class="gallery">
            <use href="assets/font-awesome/sprites/solid.svg#image" />
        </svg>
        <p class="button-title">Galeria</p>
    </section>
</div>