<ion-header>
        <ion-toolbar color="primary">
            <ion-searchbar mode="ios" type="text" [placeholder]="searchPlaceholder" animated (ionChange)="execSearchPosts($event)">
            </ion-searchbar>
            <ion-buttons slot="end" class="buttons-start" (click)="closeModal()">
                    <ion-icon name="close" slot="icon-only"></ion-icon>
                  </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-grid *ngIf="searchingPosts">
            <ion-row>
                <ion-col text-center style="margin: 2rem auto">
                    <ion-spinner name="crescent"></ion-spinner>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list *ngIf="!valueToSearch.value && searchIdeas && searchIdeas.length > 0">
            <ion-list-header>
                <ion-label>Sugerencias</ion-label>
            </ion-list-header>
            <ion-item *ngFor="let idea of searchIdeas; let i = index;" (click)="textToSearch = idea" lines="none">
                <ion-label color="dark">{{idea}}</ion-label>
            </ion-item>
        </ion-list>
        <ng-container *ngIf="valueToSearch.value && itemsSearchFound && !searchingPosts">
            <ion-list *ngIf="itemsSearchFound.length > 0">
                <ion-list-header>
                    <ion-label>Resultados Encontrados</ion-label>
                </ion-list-header>
                <ion-item detail="true" *ngFor="let item of itemsSearchFound; let i = index;" lines="none" (click)="seeDetailItemFound(item.id)">
                    <ion-label>
                        <p *ngFor="let field of fieldsToSearch">{{item[field]}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
             <ion-list *ngIf="itemsSearchFound.length === 0">
               <ion-list-header>
                    <ion-label>Resultados Encontrados</ion-label>
                </ion-list-header>
               <ion-item lines="none">
                    <ion-label color="dark">
                      <p>No existen coincidencias</p>
                    </ion-label>
                </ion-item>
            </ion-list>
      </ng-container>           
    </ion-content>