<app-header-back title="Mis Emergencias" [search]="true" [filter]="true" [report]="true" (optionSelected)="getOptionSelected($event)"></app-header-back>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"
            refreshingText="Cargando Publicaciones...">
        </ion-refresher-content>
    </ion-refresher>
    <!-- <p
        style="position: fixed;top: 3rem;left: 40%;background: black;color: white; padding: 1rem;z-index: 1000;">
        Num emergencias {{emergenciesFiltered.length}}
    </p> -->
    <p>Num emergencias {{emergenciesFiltered.length}}</p>
    <div class="flex-column-center message-fail-load"
        *ngIf="emergenciesLoaded && emergenciesList.length === 0">
        <p>No existen emergencias disponibles</p>
    </div>
    <!-- Tarjetas Animacion hasta cargar datos-->
    <div *ngIf="!emergenciesLoaded">
        <ion-card *ngFor="let animations of [1,1,1,1,1,1,1];"
            class="emergency animated flash slow infinite">
            <ion-card-header class="post-header">
                <ion-card-title class="post-title">
                    <ion-skeleton-text width="80%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="post-content">
                <ion-skeleton-text width="80%" class="post-description"></ion-skeleton-text>
                <ion-skeleton-text class="see-more" width="20%"></ion-skeleton-text>
            </ion-card-content>
        </ion-card>
    </div>
    <!-- Tarjetas con Datos -->
    <div *ngIf="emergenciesLoaded  && emergenciesList.length > 0">
        <ion-card class="emergency" *ngFor="let emergency of emergenciesFiltered; let i = index;">
            <ion-card-header class="post-header">
                <ion-card-title class="post-title">
                    {{emergency.title}}
                </ion-card-title>
            </ion-card-header>

            <ion-card-content class="post-content">
                <p class="post-description">
                    {{emergency.description | truncate: 50}}
                </p>
                <p class="see-more" (click)="postDetail(emergency.id)">Ver más...</p>
            </ion-card-content>
        </ion-card>
    </div>
    <!-- Scroll Infinito -->
    <ion-infinite-scroll threshold="150px" (ionInfinite)="getInfiniteScrollData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent"
            loadingText="Cargando Publicaciones...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
