<app-header-back title="Problema Social" hrefDefault="/social-problems"></app-header-back>

<ion-content>
    <!-- Mensaje no cargaron los datos desde la Api -->
    <div class="flex-column-center message-fail-load" *ngIf="socialProblemLoaded && !socialProblem">
        <p>No se pudo cargar el problema social solicitado</p>
        <ion-button (click)="getSocialProblem()">Toca para reintentar</ion-button>
    </div>
    <!-- Animacion cuando estan cargando datos -->
    <div *ngIf="!socialProblemLoaded">
        <ion-card class="card_social detail-card animated flash slow infinite">
            <ion-skeleton-text animated style="width: 80%" style="height: 300px;">
            </ion-skeleton-text>
            <ion-card-header>
                <ion-card-title>
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle class="post_user">
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="post_description">
                <p class="post_content">
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
            </ion-card-content>
            <div class="options detail">
                <div class="option_actions">
                    <div class="btn_icon" style="width: 50%;height: 30px;">
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </div>
                    <div class="btn_icon" style="width: 50%;height: 30px;">
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </div>
                </div>
            </div>
        </ion-card>
    </div>
    <!-- Datos ya cargados -->
    <div class="social-problem-detail" *ngIf="socialProblemLoaded && socialProblem">
        <div class="post-cover-image"
            *ngIf="socialProblem.images && socialProblem.images.length > 0">
            <img [src]="socialProblem.images[0].url" alt="Imagen Tarjeta" class="img" />
        </div>
        <div class="post-info-container">
            <div class="post-description-info">
                <span class="post-category">
                    <span>{{socialProblem.subcategory.name}}</span>
                    <div class="container-more-options" (click)="showActionCtrl()">
                        <ion-icon name="md-more"></ion-icon>
                    </div>
                </span>
                <h2>{{socialProblem.title}}</h2>
                <p>{{socialProblem.description}}</p>
            </div>
            <div class="post-container-main-info">
                <div class="main-post-info">
                    <h4 class="post-title-info">Detalle del Problema</h4>
                    <p class="item-info">
                        <span class="icon-fulldate">
                            <ion-icon name="calendar" class="social-problem-state"></ion-icon>
                        </span>
                        <span>{{socialProblem.created_at | beafitulDate}} </span>
                    </p>
                    <p class="item-info">
                        <span class="icon-ubication">
                            <ion-icon name="pin" class="social-problem-state"></ion-icon>
                        </span>
                        <span>{{(socialProblem.ubication && socialProblem.ubication.address) ? socialProblem.ubication.address: 'No existe ubicación'}}</span>
                    </p>
                    <p class="item-info">
                        <span class="icon-people">
                            <ion-icon name="people" class="social-problem-state"></ion-icon>
                        </span>
                        <span>{{socialProblem.details.length}} personas les gusta</span>
                    </p>
                    <p class="item-info">
                        <span class="icon-attendance">
                            <ion-icon name="clipboard" class="social-problem-state"></ion-icon>
                        </span>
                        <span>{{(socialProblem.is_attended)?'Ya ha sido Atendido':'Esta Pendiente de atención'}}</span>
                    </p>
                </div>
            </div>

            <div class="map-container" *ngIf="socialProblem.ubication">
                <p class="map-title">Ubicación</p>
                <simple-map classMap="social-problem-map-detail map-center"
                    idMap="social-problem-detail-{{id}}" [coordsMap]="socialProblem.ubication"
                    [zoom]="16">
                </simple-map>
            </div>
            <div class="image-gallery-container"
                *ngIf="socialProblem.images && socialProblem.images.length > 0">
                <h4 class="image-gallery-title">Imágenes</h4>
                <div class="image-gallery">
                    <figure class="image-item" *ngFor="let image of socialProblem.images"
                        (click)="seeImageDetail(image.url)">
                        <img class="image" [src]="image.url" fallimg="image_full">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</ion-content>
