<ion-app>
    <splash-sm *ngIf="showAppsplash"></splash-sm>
    <ion-split-pane contentId="main_router_outlet">
        <ion-menu side="start" menuId="main_app_menu" contentId="main_router_outlet">
            <ion-content class="menu_content_app">
                <!-- Header Menu -->
                <ion-item lines="none" color="primary">
                    <ion-avatar slot="start" (click)="closeMenu()">
                        <img [src]="userApp?.avatar || 'assets/img/default/img_avatar.png'" />
                    </ion-avatar>
                    <ion-label>
                        <h1>{{userApp?.firstname || 'None'}} {{userApp?.lastname || 'None'}}</h1>
                        <p>&copy; San Isidro Unido</p>
                    </ion-label>
                </ion-item>
                <ion-list class="list-no-padding" *ngFor="let c of menuComponents;let i = index;">
                    <!-- Items Without Children-->
                    <ion-menu-toggle autoHide="false" *ngIf="c.redirectTo">
                        <ion-item class="item-sm" tapable *ngIf="c.children==undefined || c.children?.length == 0"
                            lines="none" detail="false" [routerLink]="c.redirectTo" routerDirection="root"
                            routerLinkActive="is_active" (click)="toggleSection(i,false)">
                            <ion-icon [name]="c.icon" slot="start"></ion-icon>
                            <ion-label>
                                {{ c.name }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <!-- Item with Children -->
                    <ion-item class="item-sm" lines="none" detail="false" *ngIf="c.children?.length > 0"
                        (click)="toggleSection(i,true)" [class.parent-active]="c.open">
                        <ion-icon slot="end" name="arrow-down" *ngIf="!c.open"></ion-icon>
                        <ion-icon slot="end" name="arrow-up" *ngIf="c.open"></ion-icon>
                        <ion-label>{{ c.name }}</ion-label>
                        <ion-icon slot="start" [name]="c.icon"></ion-icon>
                    </ion-item>
                    <!-- Children List for clicked Item -->
                    <ion-list class="item-child list-no-padding" *ngIf="c.open">
                        <ion-menu-toggle autoHide="false">
                            <ion-item class="item-sm sub-item" tapable lines="none" detail="false"
                                *ngFor="let sub of c.children" [routerLink]="sub.redirectTo" routerDirection="root"
                                routerLinkActive="is_active">
                                <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                                <ion-label>
                                    {{ sub.name }}
                                </ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ion-list>
                    <!--FIN ELEMENTOS HIJOS-->
                </ion-list>
                <!--ITEM TO CLOSE SESSION-->
                <hr class="gray">
                <!-- <ion-item class="item-sm" tapable lines="none" routerLink="/tutorial" routerDirection="root" routerLinkActive="is_active">
                    <ion-icon slot="start" name="help"></ion-icon>
                    <ion-label>Tutorial</ion-label>
                </ion-item> -->
                <ion-item class="item-sm" tapable lines="none" (click)="closeAppSession()">
                    <ion-icon slot="start" name="log-out"></ion-icon>
                    <ion-label>Cerrar Sesión</ion-label>
                </ion-item>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main_router_outlet"></ion-router-outlet>
    </ion-split-pane>
</ion-app>