.ll{
    display: flex;
    justify-content: center;
}
.ll span:nth-child(2){
    margin-left: 1rem;
}
.lola{
    background: green;
}

.already-have-account{
    a{
        margin-left: 10px;
        text-decoration: none;
    }
}
