<ion-content>
    <!-- <div class="container-app"> -->
    <ion-grid class="grid-container-center padding-none">
        <network-state-bar></network-state-bar>
        <ion-row class="main-row-center">
            <ion-grid class="ion-padding">
                <ion-row justify-content-center>
                    <ion-col size="6">
                        <ion-button (click)="loginUserByGoogle()" color="google" expand="block">
                            <ion-icon slot="icon-only" name="logo-google"></ion-icon>
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button (click)="loginUserByFB()" color="facebook" expand="block">
                            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row class="login-form-container">

                    <ion-col size="12">
                        <form [formGroup]="loginForm">
                            <div class="item-form">
                                <ion-item class="input_item">
                                    <ion-label position="floating">Email</ion-label>
                                    <ion-input placeholder="john@gmail.com" formControlName="email" type="email">
                                    </ion-input>
                                </ion-item>
                                <div class="feedback-icon">
                                    <ion-item lines="none">
                                        <button class="icon-help-input" disabled>
                                            <ion-icon name="close-circle" class="error"
                                                *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
                                            </ion-icon>
                                            <ion-icon name="checkmark-circle" class="success"
                                                *ngIf="loginForm.get('email').touched &&loginForm.get('email').valid">
                                            </ion-icon>
                                        </button>
                                    </ion-item>
                                </div>
                            </div>
                            <div class="form-errors">
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
                                    {{errorMessages.email.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('minlength') && loginForm.get('email').touched">
                                    {{errorMessages.email.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('maxlength') && loginForm.get('email').touched">
                                    {{errorMessages.email.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
                                    {{errorMessages.email.pattern.message}}
                                </p>
                            </div>
                            <div class="item-form">
                                <ion-item class="input_item">
                                    <ion-label position="floating">Contraseña</ion-label>
                                    <ion-input #passwordEyeLogin formControlName="password" [type]="passwordTypeInput">
                                    </ion-input>
                                    <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                                        <ion-icon [name]="iconpassword"></ion-icon>
                                    </button>
                                </ion-item>
                                <div class="feedback-icon">
                                    <ion-item lines="none">
                                        <button class="icon-help-input" disabled>
                                            <ion-icon name="close-circle" class="error"
                                                *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                                            </ion-icon>
                                            <ion-icon name="checkmark-circle" class="success"
                                                *ngIf="loginForm.get('password').touched &&loginForm.get('password').valid">
                                            </ion-icon>
                                        </button>
                                    </ion-item>
                                </div>
                            </div>
                            <!-- <ion-item>
                               
                              
                            </ion-item> -->
                            <div class="form-errors">
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">
                                    {{errorMessages.password.required.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('minlength') && loginForm.get('password').touched">
                                    {{errorMessages.password.minlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('maxlength') && loginForm.get('password').touched">
                                    {{errorMessages.password.maxlength.message}}
                                </p>
                                <p class="form-error"
                                    *ngIf="loginForm.get('password').hasError('pattern') && loginForm.get('password').touched">
                                    {{errorMessages.password.email.message}}
                                </p>
                            </div>
                            <div padding>
                                <ion-button (click)="loginUser()" color="primary" type="submit" expand="block"
                                    [disabled]="!loginForm.valid">
                                    Iniciar Sesión
                                </ion-button>
                            </div>
                        </form>
                    </ion-col>
                </ion-row>
                <ion-row style="margin-top: 1rem;">
                    <ion-col size="12">
                        <div class="flex-center-all already-have-account">
                            <span>No tienes una cuenta?</span><a color="primary" routerLink="/register">Crear una</a>
                        </div>

                    </ion-col>
                    <!-- <ion-col size="12">
                        <ion-button expand="full" routerLink="/home" routerDirection="root">Landing</ion-button>
                    </ion-col> -->
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
    <!-- </div> -->
</ion-content>