
<div class="strength_bar" [ngStyle]="{'text-align': align, 'width': width + '%'}">
  <span>Seguridad: </span>
  <span class="level_text" [ngStyle]="{'border-bottom-color': barLevels[score].color}">
      {{(isEmptyPass)?'':barLevels[score].title}}
    </span>
  <!-- <div class="level_icon">
        <div class="bubble" [ngStyle]="{'background-color': barLevels[score].color}"></div>
        <div class="bubble" [ngStyle]="{'background-color': barLevels[score].color}"></div>
        <div class="bubble" [ngStyle]="{'background-color': barLevels[score].color}"></div>
  </div> -->
</div>
<!-- <div class="progress-bar" [ngStyle]="{'width': width + '%'}">
    <div class="progress-value" [ngStyle]="{'background-color': barLevels[score].color, 'width': (!isEmptyPass)? (barLevels[score].percent*100) + '%': '0%'}"></div>
</div> -->
