<app-header-back title="Eventos"></app-header-back>
<ion-content padding>
    <!-- Mensaje cuando cargan o no los datos-->
    <div class="flex-column-center message-fail-load"
        *ngIf="eventsLoaded && eventsList.length === 0">
        <p>No se pudieron cargar los Eventos</p>
        <ion-button (click)="loadEvents(null,true)">Toca para reintentar</ion-button>
    </div>
    <!-- Tarjetas Animacion hasta cargar datos-->
    <div *ngIf="!eventsLoaded">
        <ion-card *ngFor="let event of [1,1,1,1]" class="event_item animated flash slow infinite">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-skeleton-text width="60%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-title>
                    <ion-skeleton-text width="30%"></ion-skeleton-text>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
                <ion-skeleton-text width="100%"></ion-skeleton-text>
            </ion-card-content>
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none" detail="false" button="true" class="container_events">
                        <ion-skeleton-text width="70%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item class="container_events" detail="false" button="true" lines="none">
                        <ion-skeleton-text width="70%"></ion-skeleton-text>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>
    <!-- Tarjeta Datos Cargados y Disponibles -->
    <div *ngIf="eventsLoaded  && eventsList.length > 0">
        <ion-card class="event_card" *ngFor="let event of eventsList; let i = index;">
            <div class="cover-event" [ngStyle]="{'background-image': getImageCover(event)}">
                <div class="social-buttons">
                    <div class="item-button" (click)="sharePost(event)">
                        <ion-icon class="share" name="share"></ion-icon>
                    </div>
                </div>
            </div>
            <div class="event-info">
                <ion-card-title class="event-title" (click)="postDetail(event.id)"> Angular 7 de
                    Cero a Experto</ion-card-title>
                <p class="event-date">
                    <ion-icon name="calendar"></ion-icon>
                    15 de Agosto de 2019 12:00 asdasd
                </p>
                <p class="event-ubication">
                    <ion-icon name="pin"></ion-icon>
                    10 de Agosto y Amazonas
                </p>
                <p class="assistance-info">
                    <span class="count-people">
                        <ion-icon name="people"></ion-icon>
                        {{event.details.length}}
                        {{(event.details.length !== 1) ? 'personas asistirán': 'persona asistirá'}}
                    </span>
                </p>
                <p>
                    <ion-chip class="chip-event-assistance" [class.active]="(event.postAssistance)"
                        (click)="toggleAssistance(event.postAssistance, event.id)">
                        <ion-label class="ion-align-items-center">
                            <ion-icon [name]="(event.postAssistance)?'checkmark':'people'"
                                style="margin-right: 6px"></ion-icon>
                            <span>{{(event.postAssistance) ? 'Voy a Asistir': 'Unirme'}}</span>
                        </ion-label>
                    </ion-chip>
                </p>
            </div>
        </ion-card>
    </div>
    <!--Opciones del FabButton -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" size="small">
            <ion-icon name="ios-arrow-dropup"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="showModalSearchEvents()">
                <ion-icon name="search"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <!-- Scroll Infinito -->
    <ion-infinite-scroll threshold="150px" (ionInfinite)="getInfiniteScrollData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent"
            loadingText="Cargando Publicaciones...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
