<!-- <app-header title="Tutorial" [showNoti]="false"></app-header> -->
<ion-content>
            <ion-slides pager="true" style="display: flex;" (ionSlideDidChange)="slideChange($event)" (ionSlidesDidLoad)="slidesLoaded($event)">
                <ion-slide class="tutorial_slide" *ngFor="let slide of slides" [ngStyle]="{'background':  getBackgroundG(slide.img)}">
                    <div class="slide-content">
                        <!-- <img [src]="slide.img" class="slide-img"> -->
                        <h1>{{slide.title}}</h1>
                        <p>{{slide.description}}</p>
                    </div>
                </ion-slide>
            </ion-slides>
            <div style="position: fixed;bottom: 2.5em;
            width: 100%;display:flex;z-index: 1000;">
                <div style="width: 50%;display: flex;
                justify-content: center;">
                   <div>
                        <ion-button class="ion-text-capitalize" color="light" expand="block" (click)="goToLogin()">
                            Iniciar Sesión
                        </ion-button>
                   </div>
                </div>
                <div style="width: 50%;display: flex;
                justify-content: center;">
                    <div>
                        <ion-button class="ion-text-capitalize" color="light" fill="outline" expand="block" (click)="goToRegister()">
                            Registrarme
                        </ion-button>
                    </div>
                </div>
            </div>
</ion-content>
<!-- <ion-footer no-border text-center>
    <ion-grid fixed>
        <ion-row>
            <ion-col size="6">
                    <ion-button color="primary" expand="full" shape="round" (click)="startTutorial()">
                        Iniciar Sesión
                    </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button color="primary" expand="full" shape="round" (click)="startTutorial()">
                    Registrarme
                </ion-button>
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer> -->