.emergency_created_at{
    padding: .5em 0;
}

.post_cover{
  background: #dfdfdf;
  height: 200px;
  img{
    height: 200px;
    width: 100%;
  }
}

.emergency {
    margin-bottom: 1.7em;
    .post-subtitle {
      position: relative;
      padding: 0.6em 0;
    }
    .post-header{
        .post-status{
            color: var(--ion-color-red-logo);
            &.active{
                color: var(--ion-color-green-logo) !important;
            }
        }
    }
    .post-title {
      font-weight: bold;
      color: #2a2c31;
    }
    .post-description {
      color: #000;
      margin-bottom: 1rem;
    }
    .see-more {
      padding-bottom: 1rem;
    }
    .container-more-options {
      position: absolute;
      top: 2px;
      right: -5px;
      font-size: 25px;
    }
  }