
<!-- Cabecera -->
<app-header-back [title]="(isPolicia) ? 'Emergencias': 'Mis Emergencias'" [search]="false"></app-header-back>
<!-- Contenido -->
<ion-content padding>
    
    <!-- Filtro por Estado Atención -->
    <ion-segment value="" scrollable (ionChange)="segmentChanged($event)">
        <ion-segment-button value="">
            <ion-icon color="blue-logo" name="document"></ion-icon>
            <ion-label>Todos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="atendido">
            <ion-icon color="green-logo" name="checkbox"></ion-icon>
            <ion-label>Atendidos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pendiente">
            <ion-icon color="yellow-logo" name="clock"></ion-icon>
            <ion-label>Pendientes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="rechazado">
            <ion-icon color="red-logo" name="close-circle-outline"></ion-icon>
            <ion-label>Rechazadas</ion-label>
        </ion-segment-button>
    </ion-segment>
    
    <!-- Refresher de los Datos -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles"
            refreshingText="Cargando Publicaciones...">
        </ion-refresher-content>
    </ion-refresher>
     <!-- Problemas Sociales Searchbar -->
     <ion-searchbar mode="ios" type="text" placeholder="Buscar Emergencias" [animated]="true"
     [formControl]="emergencyControl"></ion-searchbar>
    <div class="loading-app" *ngIf="searchingEmergencies">
        <loader-app class="flex-column-center" message="Buscando..."></loader-app>
    </div>
    <!-- Mensaje cuando no hay datos disponibles-->
    <app-no-results-found class="ion-padding" *ngIf="showNotFound && emergenciesFiltered.length === 0"
        message="No existen emergencias disponibles"></app-no-results-found>
    <!-- Tarjetas de Animacion mientras se cargan los datos-->
    <div class="loading-app" *ngIf="showloading">
        <loader-app class="flex-column-center"></loader-app>
    </div>
    <!-- Posts con Datos -->
    <div *ngIf="!showloading  && emergenciesFiltered.length > 0" [@listAnimation]>
        <!-- Posts Filtrados con Datos -->
        <ion-card class="emergency" *ngFor="let emergency of emergenciesFiltered; let i = index;">
            <div class="post_cover" *ngIf="emergency.imagesArr && emergency.imagesArr.length > 0">
                <img class="img" [src]="emergency.imagesArr[0]" (onerror)="event.target.src='assets/img/default/image_full.png'"/>
            </div>
            <div class="ion-padding" style="display: flex;align-items:center;" *ngIf="isPolicia">
                <div class="left-section">
                    <img style="width: 50px;height:50px;border-radius:50%;"
                        [src]="emergency.user.avatar_link" (onerror)="event.target.src='assets/img/default/img_avatar.png'"/>
                </div>
                <div class="right-section" style="margin-left: 1rem">
                    <p style="color: var(--ion-color-dark);margin-bottom: .7em;">
                        {{emergency.user.first_name}} {{emergency.user.last_name }}
                    </p>
                </div>
            </div>
            <ion-card-header class="post-header">
                <ion-card-subtitle class="post-status" [ngClass]="{
                    'atendido': emergency.additional_data.post.status_attendance == 'atendido',
                    'rechazado': emergency.additional_data.post.status_attendance == 'rechazado',
                    '': emergency.additional_data.post.status_attendance == 'pendiente'
                  }">
                    {{ emergency.additional_data.post.status_attendance | titlecase }}
                </ion-card-subtitle>
                <ion-card-title class="post-title">
                    {{emergency.title}}
                </ion-card-title>
                            <div class="emergency_created_at">
                                <span>{{emergency.fecha_creacion}}</span>
                            </div>
            </ion-card-header>

            <ion-card-content class="post-content">
                <p class="post-description">
                    {{emergency.description | truncate: 80}}
                </p>
            </ion-card-content>
            <ion-button class="btn-see-more" expand="block" color="blue-logo" (click)="postDetail(emergency.id)">Saber más</ion-button>
        </ion-card>
        <!-- Posts Filtrados Sin Resultados -->
        <app-no-results-found class="ion-padding" *ngIf="emergenciesFiltered.length === 0"
            message="No hay publicaciones disponibles"></app-no-results-found>
    </div>
    <!-- Scroll Infinito -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="getInfiniteScrollData($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando Publicaciones...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>