@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import "./theme/animations.scss";
@import "./theme/map.scss";
@import "./theme/forms.scss";
@import "./theme/posts.scss";
@import "./theme/utils.scss";

body {
    --webkit-user-select: text;
    user-select: text;
}

.circle-img{
    border-radius: 50% !important;
    overflow: hidden;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: var(--ion-color-danger) !important;
    color: white !important;
}

.post-status{
    color: var(--ion-color-yellow-logo);
    &.atendido{
        color: var(--ion-color-green-logo) !important;
    }
    &.rechazado{
        color: var(--ion-color-red-logo) !important;
    }
}

.tab-bar-app{
    border-top: 1px solid #ced6d8;
    .tab-button-blue{
        --color-selected: #95999a;
        &.tab-selected{
            --color-selected: #01a8de;
        }
    }
}

.popover-app-notifications .popover-content {
    --min-width: 350px !important;
}