.sm-stepbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    li{
        display: inline-block;
        span{
            margin: 10px;
            color: #ccc;
            transition: all .3s;
        }
        span.active{
            color: #3880ff;
            border-bottom: 1px solid #3880ff;
        }
    }
}
