<ion-header no-border>
    <ion-toolbar color="blue-logo">
        <ion-buttons slot="start" *ngIf="showBackButton">
            <ion-back-button [defaultHref]="backUrl" text=""></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">{{title}}</ion-title>
        <ion-buttons slot="end" *ngIf="showNoti">
            <!-- Icono de Busqueda -->
            <ion-button size="large" slot="icon-only" (click)="emitSearchEvent()" *ngIf="search">
                <ion-icon class="icon-search" name="search"></ion-icon>
            </ion-button>
            <!-- Icono de Notificacion -->
            <ng-container *appHasRole="['morador', 'policia']">
                <ion-button size="large" slot="icon-only" (click)="showNotiPopover($event)">
                    <ion-icon class="icon-noti" [name]="notificationsIcon"></ion-icon>
                </ion-button>
            </ng-container>
            <!-- Icono de Opciones -->
            <ion-button size="large" slot="icon-only" (click)="showOptionsHeader($event)" *ngIf="optionsCtrl.length > 1">
                <ion-icon class="icon_noti" [name]="optionsHeaderIcon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
