<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">Editar mi Perfil</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container" *ngIf="editProfileForm">
        <form [formGroup]="editProfileForm">
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding label-margin" position="stacked">Nombres *</ion-label>
                    <ion-input class="input-beatiful" formControlName="first_name" placeholder="Ingresa tus nombres">
                    </ion-input>
                </ion-item>
            </div>
            <div class="form-errors padding-lateral-small">
                <p class="form-error"
                    *ngIf="editProfileForm.get('first_name').hasError('required') && editProfileForm.get('first_name').touched">
                    {{errorMessages.first_name.required.message}}
                </p>
            </div>
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding label-margin" position="stacked">Apellidos *</ion-label>
                    <ion-input class="input-beatiful text-area" formControlName="last_name"
                        placeholder="Ingresa tus apellidos"></ion-input>
                </ion-item>
            </div>
            <div class="form-errors padding-lateral-small">
                <p class="form-error"
                    *ngIf="editProfileForm.get('last_name').hasError('required') && editProfileForm.get('last_name').touched">
                    {{errorMessages.last_name.required.message}}
                </p>
            </div>
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding label-margin" position="stacked">Email *</ion-label>
                    <ion-input class="input-beatiful" formControlName="email"
                        placeholder="Ingresa tu dirección de corre electrónico"></ion-input>
                </ion-item>
            </div>
            <div class="form-errors padding-lateral-small">
                <p class="form-error"
                    *ngIf="editProfileForm.get('email').hasError('required') && editProfileForm.get('email').touched">
                    {{errorMessages.email.required.message}}
                </p>
                <p class="form-error"
                    *ngIf="editProfileForm.get('email').hasError('email') && editProfileForm.get('email').touched">
                    {{errorMessages.email.email.message}}
                </p>
            </div>
            <div class="item-form full">
                <ion-item class="input_item" lines="none">
                    <ion-label class="label-padding label-margin" position="stacked">Teléfono</ion-label>
                    <ion-input class="input-beatiful" formControlName="number_phone"
                        placeholder="Ingresa tu número de teléfono"></ion-input>
                </ion-item>
            </div>
            <div class="form-errors padding-lateral-small">
                <p class="form-error"
                    *ngIf="editProfileForm.get('number_phone').hasError('required') && editProfileForm.get('number_phone').touched">
                    {{errorMessages.number_phone.required.message}}
                </p>
                <p class="form-error"
                    *ngIf="editProfileForm.get('number_phone').hasError('minlength') && editProfileForm.get('number_phone').touched">
                    {{errorMessages.number_phone.minlength.message}}
                </p>
                <p class="form-error"
                    *ngIf="editProfileForm.get('number_phone').hasError('maxlength') && editProfileForm.get('number_phone').touched">
                    {{errorMessages.number_phone.maxlength.message}}
                </p>
                <p class="form-error"
                *ngIf="editProfileForm.get('number_phone').errors?.telefonoValido && editProfileForm.get('number_phone').touched">
                {{errorMessages.number_phone.telefonoValido.message}}
            </p>
            </div>
            <ion-button class="btn_edit_profile" expand="block" [disabled]="!editProfileForm.valid || formSended"
                (click)="editUserProfileData()">Guardar</ion-button>
        </form>
    </div>
</ion-content>