<app-header-back title="Problema Social" hrefDefault="/social-problems"></app-header-back>

<ion-content padding>
    <ion-card class="card_social detail-card">
        <img style="border: 1px solid #ccc;" src="assets/img/default/slide-1.png" />
        <ion-card-header>
            <ion-card-title>Problem {{idPost}}</ion-card-title>
            <ion-card-subtitle class="post_user">User ID: {{socialProblem.user_id}}
            </ion-card-subtitle>
            <ion-card-subtitle>Category ID: {{socialProblem.category_id}} | Date: {{socialProblem.date}}
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="post_description">
            <p class="post_content">
               {{socialProblem.description}}
                <span>ID PARAMETRO: {{id}}</span>
            </p>
            <p>Likes: 11</p>
        </ion-card-content>
        <div class="options">
            <div class="option_button">
            </div>
            <div class="option_actions">
                <div class="btn_icon" [ngClass]="{'active': ((idPost % 2) === 0)}">
                    <ion-icon slot="icon-only" [name]="((idPost % 2) === 0) ?'heart':'heart-empty'"></ion-icon>
                </div>
                <div (click)="sharePost(socialProblem)" class="btn_icon">
                    <ion-icon slot="icon-only" name="share" style="font-size:1.3rem;"></ion-icon>
                </div>
            </div>
        </div>
    </ion-card>
</ion-content>