<app-header-back title="Problema Social" hrefDefault="/social-problems"></app-header-back>

<ion-content padding>
    <!-- Mensaje no cargaron los datos desde la Api -->
    <div class="flex-column-center message-fail-load"
        *ngIf="socialProblemLoaded && !socialProblem">
        <p>No se pudo cargar el problema social solicitado</p>
        <ion-button (click)="getSocialProblem()">Toca para reintentar</ion-button>
    </div>
    <!-- Animacion cuando estan cargando datos -->
    <div *ngIf="!socialProblemLoaded">
        <ion-card class="card_social detail-card animated flash slow infinite">
            <ion-skeleton-text animated style="width: 80%" style="height: 300px;">
            </ion-skeleton-text>
            <ion-card-header>
                <ion-card-title>
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-card-title>
                <ion-card-subtitle class="post_user">
                    <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </ion-card-subtitle>
                <ion-card-subtitle>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="post_description">
                <p class="post_content">
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
            </ion-card-content>
            <div class="options detail">
                <div class="option_actions">
                    <div class="btn_icon" style="width: 50%;height: 30px;">
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </div>
                    <div class="btn_icon" style="width: 50%;height: 30px;">
                        <ion-skeleton-text width="100%"></ion-skeleton-text>
                    </div>
                </div>
            </div>
        </ion-card>
    </div>
    <!-- Datos ya cargados -->
    <ion-card class="social_problem_card detail" *ngIf="socialProblemLoaded && socialProblem">
        <div class="cover-social-problem"
            [ngStyle]="{'background-image': (socialProblem.images && socialProblem.images.length > 0) ? getBGCover(socialProblem.images[0].url) : ''}">
            <div class="social-buttons">
                <div class="item-button" (click)="toggleLike(socialProblem.postLiked)">
                    <ion-icon class="like" [class.active]="socialProblem.postLiked" name="heart">
                    </ion-icon>
                </div>
                <div class="item-button" (click)="sharePost(socialProblem)">
                    <ion-icon class="share" name="share"></ion-icon>
                </div>
            </div>
        </div>
        <ion-card-header class="social_problem_header">
            <ion-card-title class="social_problem_title">
                {{socialProblem.title}}
            </ion-card-title>
            <ion-card-subtitle class="social_problem_user_info_container">
                <img class="avatar_user" [src]="socialProblem.user.avatar" fallimg="user_avatar">
                <div class="user-info">
                    <p class="user-name"> {{socialProblem.user.firstname}}
                        {{socialProblem.user.lastname}}</p>
                    <p class="post-date">{{socialProblem.created_at | beafitulDate}}</p>
                    <p class="post-date">{{socialProblem.details.length}} me
                        gusta</p>
                </div>
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="social-problem-content">
            <p class="title">Descripción</p>
            <p class="description">
                {{socialProblem.description}}
            </p>
        </ion-card-content>
        <div class="map-container" *ngIf="socialProblem.ubication">
            <p class="map-title">Ubicación</p>
            <simple-map classMap="social-problem-map-detail map-center"
                idMap="social-problem-detail-{{id}}" [coordsMap]="socialProblem.ubication"
                [zoom]="16">
            </simple-map>
        </div>
        <div class="image_gallery_container"
            *ngIf="socialProblem.images && socialProblem.images.length > 0">
            <p class="image_gallery_title strong">Imágenes</p>
            <div class="image_gallery">
                <figure *ngFor="let image of socialProblem.images"
                    (click)="showImageDetailModal(image.url)">
                    <img [src]="image.url" alt="Imagen de la Publicación" fallimg="image_full">
                    <!-- <figcaption>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </figcaption> -->
                </figure>
            </div>
        </div>
    </ion-card>
</ion-content>
