<app-header-back title="Problema Social" hrefDefault="/social-problems"></app-header-back>

<ion-content padding>
    <ion-card class="detail-card">
        <img style="border: 1px solid #ccc;" src="assets/img/default/slide-1.png" />
        <ion-card-header>
            <ion-card-subtitle class="post_user">User ID: 5
            </ion-card-subtitle>
            <ion-card-subtitle>Category ID: 5 | Date: 2018-05-14
            </ion-card-subtitle>
            <ion-card-title>Problem # {{id}}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="post_description">
            <p class="post_content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                    <span>ID PARAMETRO: {{id}}</span>
            </p>
            <div class="likes_item" [ngClass]="{'active': (id % 2) === 0}">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon slot="start" name="thumbs-up"></ion-icon>
                <span class="counter">11</span>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>