.service_item{
    a{
        text-decoration: none;
    }
    .title{
        font-size: 1rem;
        font-weight: bold;
        color: gray;
        text-align: center;
    }
    .icon{
        margin: 5px 10px;
    }
}